@import "css_rwd_common.css";
@media (max-width: 1199px) {
  .openList {
    display: block;
    width: 2.5rem;
    margin-left: 0.9375rem;
    position: relative;
    z-index: 22;
  }
  .openList hr {
    -moz-transition: 0.5s all ease-in-out;
    background: #fff;
    border: 1px solid #fff;
    transition: 0.5s all ease-in-out;
    z-index: 98;
    opacity: 1;
    margin: 0.625rem 0;
  }
  .openList hr:first-child {
    margin-top: 0;
  }
  .openList hr:last-child {
    margin-bottom: 0;
  }
  .openList.ac {
    position: relative;
    z-index: 21;
  }
  .openList.ac hr:nth-child(2) {
    opacity: 0;
  }
  .openList.ac hr:nth-child(1) {
    background: #fff;
    border-color: #fff;
    transform: rotate(135deg) translateX(3px) translateY(-9px);
  }
  .openList.ac hr:nth-child(3) {
    background: #fff;
    border-color: #fff;
    transform: rotate(-135deg) translateX(7px) translateY(14px);
  }
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 20;
    display: none;
  }
  header {
    position: relative;
  }
  header .wrp .right .menu {
    padding: 10px 20px;
  }
  header .wrp .right .menu #menu {
    position: fixed;
    top: 0;
    left: -100%;
    overflow-y: auto;
    background: #003059;
    height: 100vh;
    width: 80vw;
    z-index: 21;
    transition: 0.3s all ease-in-out;
    display: block;
    padding: 1.25rem 0;
    transition: 0.3s all ease-in-out;
  }
  header .wrp .right .menu #menu.active {
    left: 0;
  }
  header .wrp .right .menu #menu .openSub {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.125rem;
    font-size: 1.25rem;
    color: #fff;
  }
  header .wrp .right .menu #menu .openSub.ac i:before {
    content: "\f106";
  }
  header .wrp .right .menu #menu li {
    display: flex;
    padding: 0;
    position: relative !important;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  header .wrp .right .menu #menu li.active {
    background: #7ec83b !important;
    color: #fff !important;
  }
  header .wrp .right .menu #menu li a {
    background: transparent !important;
    display: flex;
    padding: 0.625rem 1.375rem;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    border-right: none;
    flex: 1;
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
  }
  header .wrp .right .menu #menu li:hover > ul,
  header .wrp .right .menu #menu li:hover .menuSub {
    display: none;
  }
  header .wrp .right .menu #menu li:hover > a {
    background: transparent;
    color: #fff;
  }
  header .wrp .right .menu #menu li ul {
    text-transform: none;
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    padding: 0;
    padding-left: 1.25rem;
    transition: none;
    height: auto;
    display: none;
    width: 100%;
    position: static;
    background: transparent;
    box-shadow: none;
  }
  header .wrp .right .menu #menu li ul li a {
    color: #fff;
    padding: 0.625rem;
    white-space: normal;
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
  }
  header .wrp .right .menu #menu li ul li a > i {
    display: none;
  }
  header .wrp .right .menu #menu li .toggleSearch {
    display: none;
  }
  header .wrp .right .menu #menu li .menuSub {
    position: static;
  }
  header .wrp .right .menu #menu li .menuSub .menuLeft {
    width: 100%;
    height: auto;
    overflow-x: auto;
  }
  header .wrp .right .menu #menu li .menuSub .menuLeft .itemLink {
    display: table-cell;
    white-space: nowrap;
    text-align: left;
    font-size: 15px;
  }
  header .wrp .right .menu #menu li .menuSub .menuLeft .itemLink:hover, header .wrp .right .menu #menu li .menuSub .menuLeft .itemLink.active {
    color: #7ec83b;
  }
  header .wrp .right .menu #menu li .menuSub .menuRight {
    padding: 10px 0;
  }
  header .wrp .right .menu #menu li .menuSub .menuRight .group {
    display: block;
    border-spacing: 15px 20px;
    max-width: 100%;
    overflow-x: auto;
  }
  header .wrp .right .menu #menu li .menuSub .menuRight .group .item {
    margin-right: 20px;
    display: table-cell;
    min-width: 230px;
  }
  header .wrp .right .menu #menu li .menuSub .menuRight .group .item .name {
    padding: 0;
  }
  header .wrp .right .menu #menu li .menuSub .btnNav {
    justify-content: center;
  }
  header .wrp .right .menu #menu li .menuSub .btnNav a {
    flex: none;
    padding: 0;
  }
  header .wrp .right .menu #menu li:last-child {
    position: sticky !important;
    bottom: 0;
  }
  header .wrp .right .menu #menu.ac {
    left: 0;
  }
  header .wrp .right .menu #menu .btnSearchPage {
    display: none;
  }
  header .wrp .right .menu #menu .divSearchPage {
    margin: 0 10px;
    display: flex !important;
    position: static;
    opacity: 1 !important;
    margin-top: 0.625rem;
    width: 100%;
  }
  header .wrp .right .menu #menu .divSearchPage input {
    flex: 1;
  }
  header .wrp .right .menu #menu .divSearchPage .btn_divSearchPage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 50px;
    flex: none;
  }
  .wrp {
    max-width: calc(100vw - 2.5rem);
  }
  .wrp .wrp {
    width: 100%;
  }
  #container .wrp {
    gap: 20px;
  }
  #container .wrp .colLeft {
    width: 70%;
  }
  #container .wrp .colRight {
    width: calc(30% - 20px);
  }
  #container.inside .wrp {
    gap: 30px;
    flex-direction: column;
  }
  #container.inside .wrp .colLeft,
  #container.inside .wrp .colRight {
    width: 100%;
  }
  #container.inside .wrp .colRight {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  #container.inside .wrp .colRight #charts,
  #container.inside .wrp .colRight #playerRankings {
    width: calc(50% - 10px);
  }
  #container.inside .wrp .colRight #slideBanner {
    width: 100%;
  }
  #container.inside .wrp .colRight #linkWebsites {
    margin: 0;
  }
  #latestNews .group {
    gap: 0.9375rem;
  }
  #latestNews .group .item {
    width: calc((100% - 1.875rem) / 3);
  }
  #pluginShare .wrp {
    gap: 20px;
  }
  #pluginShare .wrp .facebook {
    width: 300px;
  }
  #pluginShare .wrp #slideBanner {
    width: 300px;
  }
  #infoPage .wrp {
    gap: 20px;
  }
  #infoPage .wrp .item {
    width: calc((100% - 40px) / 3);
    font-size: 13px;
  }
  #infoPage .wrp .item .text.link {
    flex-direction: column;
    gap: 3px;
  }
  #bttop {
    display: none !important;
  }
  #session .wrp .tabs .tab-links li a {
    font-size: 14px;
  }
  #ListTeam .group .item {
    width: calc((100% - 80px) / 5);
  }
  #pathWay {
    min-height: 200px;
    background-position: right center;
  }
  #player .tabs .tab-contents .tablestatistic td:nth-child(1) {
    width: 300px;
  }
  #tabCates {
    display: block;
    max-width: 100%;
    overflow-x: auto;
  }
  #tabCates li {
    display: table-cell;
    padding-right: 6px;
  }
}
@media (max-width: 991px) {
  #container .wrp {
    flex-direction: column;
    gap: 20px;
  }
  #container .wrp .colLeft {
    width: 100%;
  }
  #container .wrp .colRight {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  #container .wrp .colRight #charts,
  #container .wrp .colRight #playerRankings {
    width: calc(50% - 10px);
  }
  #container .wrp .colRight #slideBanner {
    width: 100%;
  }
  #container .wrp .colRight #linkWebsites {
    margin: 0;
  }
  #pluginShare .wrp {
    flex-wrap: wrap;
    gap: 40px;
  }
  #pluginShare .wrp .facebook,
  #pluginShare .wrp .youtube {
    width: calc((100% - 40px) / 2);
    flex: none;
  }
  #pluginShare .wrp #slideBanner {
    width: 100%;
  }
  #menuFoot {
    display: none;
  }
  #infoPage .wrp {
    gap: 20px 30px;
  }
  #infoPage .wrp .item {
    width: calc((100% - 30px) / 2);
  }
  #ListTeam .group .item {
    width: calc((100% - 60px) / 4);
  }
  #teamDetails .top .logo img {
    width: 130px;
  }
  #teamDetails .top .stadium .nameTeam {
    font-size: 25px;
    margin-bottom: 15px;
  }
  #teamDetails .top .stadium .afterName .item {
    gap: 6px;
  }
  #teamDetails .top .stadium .afterName .item .icon img {
    max-width: 50px;
  }
  #teamDetails .top .stadium .afterName .item .text {
    font-size: 15px;
    gap: 5px;
  }
  #news.list .main {
    display: flex;
    flex-wrap: wrap;
  }
  #news.list .main .item {
    width: 100%;
  }
  #news.list .main .item:nth-child(2), #news.list .main .item:nth-child(3) {
    width: calc((100% - 20px) / 2);
  }
  #news.list .main .item:nth-child(2) .wImage::before, #news.list .main .item:nth-child(3) .wImage::before {
    padding-bottom: 66.66%;
  }
  #news.list.nofication .group .item {
    width: calc((100% - 25px) / 2);
  }
  #Rankings .tableContent .group .table-responsive {
    max-width: 100%;
  }
  #Rankings .tableContent .group .table-responsive .table {
    max-width: none;
  }
  #Rankings .tableContent .note > * {
    width: 33.3333333333%;
  }
  #hightLight .parent .group {
    gap: 20px;
  }
  #hightLight .parent .group .item {
    width: calc((100% - 40px) / 3);
  }
  #hightLight .parent .group .item .info .name {
    font-size: 13px;
    line-height: 18px;
  }
  #hightLight .parent .group .item.colspan2 {
    width: calc((100% - 40px) / 3 * 2 + 20px);
  }
  #hightLight .parent .group .item.colspan2 .wImage {
    min-height: 229.33px;
  }
  #match.detail .tab-contents .tab .playerStatistics .content .tableContent td:nth-child(2), #match.detail .tab-contents .tab .playerStatistics .content .tableContent td:nth-child(4) {
    width: 50px;
  }
  #match.detail .tab-contents .tab .playerStatistics .content .tableContent td:nth-child(3) {
    width: 70px;
  }
  #match.detail .tab-contents .tab .squad {
    gap: 15px;
  }
  #match.detail .tab-contents .tab .squad .group {
    width: calc((100% - 15px) / 2);
  }
  #match.detail .tab-contents .tab .squad .group .table td:nth-child(1) {
    width: 50px;
  }
  #schedule .nameSchedule {
    font-size: 25px;
  }
  #schedule .tabMonth {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
  #schedule .tabMonth .item {
    display: table-cell;
    white-space: nowrap;
    padding: 0 13px;
  }
  #schedule .search {
    flex-wrap: wrap;
  }
  #schedule .search select {
    width: calc((100% - 15px) / 2);
    flex: none;
  }
  #schedule .round .group {
    gap: 10px;
    flex-direction: column;
    padding: 0 !important;
  }
  #schedule .round .group .table-responsive .table td:nth-child(1), #schedule .round .group .table-responsive .table td:nth-child(4), #schedule .round .group .table-responsive .table td:nth-child(6) {
    width: 70px;
  }
}
@media (max-width: 767px) {
  .wrp {
    max-width: calc(100% - 20px);
    width: calc(100% - 20px);
  }
  #ListTeam .group .item {
    width: calc((100% - 40px) / 3);
  }
  #player .tabs .tab-contents .tablestatistic td:nth-child(1) {
    width: 230px;
  }
  #hightLight .parent .group {
    gap: 25px;
  }
  #hightLight .parent .group .item {
    width: calc((100% - 25px) / 2);
  }
  #hightLight .parent .group .item.colspan2 {
    width: 100%;
  }
  #hightLight .parent .group .item .info .name {
    font-size: 15px;
    line-height: 24px;
  }
}
@media (max-width: 479px) {
  header {
    padding-top: 20px;
  }
  header .wrp {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  header .wrp .right {
    width: 100%;
    flex-direction: column-reverse;
    display: flex;
  }
  #latestNews .group .item {
    width: 100%;
  }
  #latestNews .group .item:first-child {
    flex-direction: column;
  }
  #latestNews .group .item:first-child .wImage {
    width: 100%;
  }
  #latestNews .group .item:first-child .content .name {
    font-weight: bold;
    line-height: 21px;
    font-size: 16px;
    display: block;
    margin-bottom: 7px;
  }
  #pluginShare .wrp .facebook,
  #pluginShare .wrp .youtube {
    width: 100%;
  }
  #infoPage .wrp .item {
    width: 100%;
  }
  #session .wrp .tabs .tab-links {
    display: block;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
  }
  #session .wrp .tabs .tab-links li {
    display: table-cell;
    width: auto;
    max-width: 80%;
    white-space: nowrap;
  }
  #session .wrp .tabs .tab-links li a {
    font-size: 13px;
  }
  #container.inside {
    padding: 20px 0 40px 0;
  }
  #container .wrp .colRight {
    flex-direction: column;
  }
  #container .wrp .colRight #charts,
  #container .wrp .colRight #playerRankings {
    width: 100% !important;
  }
  #news .titleCate {
    font-size: 25px;
  }
  #news.list .main {
    margin-bottom: 15px;
    flex-direction: column;
    display: flex;
  }
  #news.list .main .item {
    align-items: flex-start;
    display: flex;
    gap: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #e3e3e3;
    width: 100% !important;
  }
  #news.list .main .item::before {
    display: none;
  }
  #news.list .main .item .wImage {
    width: 100px;
  }
  #news.list .main .item .wImage:before {
    padding-bottom: 70% !important;
  }
  #news.list .main .item .info {
    margin-top: -3px;
    position: static;
    display: flex;
    flex: 1;
    flex-direction: column-reverse;
    padding: 0;
  }
  #news.list .main .item .info .nameCate {
    width: -moz-fit-content;
    width: fit-content;
  }
  #news.list .main .item .info .name {
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: rgb(17, 17, 17);
    margin-top: 0;
    font-family: Roboto;
  }
  #news.list .group {
    flex-direction: column;
    gap: 15px;
  }
  #news.list .group .item {
    border-bottom: 1px dashed #e3e3e3;
    padding-bottom: 15px;
    width: 100% !important;
  }
  #news.list .group .item .info {
    margin-top: -3px;
  }
  #news.list.videoList .item .wImage:after {
    content: "\f144";
    font-family: "FontAwesome";
    font-weight: 400;
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 20px;
    pointer-events: none;
  }
  #news .catesort {
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
  }
  #news .catesort .listCate {
    display: block;
    max-width: 100%;
    overflow-x: auto;
  }
  #news .catesort .listCate > * {
    display: table-cell;
    white-space: nowrap;
    padding-right: 5px;
  }
  #ListTeam .group .item {
    width: calc((100% - 20px) / 2);
  }
  #teamDetails .top .logo img {
    width: 125px;
  }
  #teamDetails .top .stadium {
    padding-left: 20px;
  }
  #teamDetails .top .stadium .nameTeam {
    font-size: 25px;
    margin-bottom: 15px;
  }
  #teamDetails .top .stadium .afterName {
    flex-direction: column;
    gap: 10px;
  }
  #teamDetails .top .stadium .afterName .item {
    gap: 6px;
  }
  #teamDetails .top .stadium .afterName .item .icon img {
    max-width: 50px;
  }
  #teamDetails .top .stadium .afterName .item .text {
    font-size: 15px;
    gap: 5px;
  }
  #teamDetails .tabs .tab-links li a {
    font-size: 12px;
  }
  #player div:has(.namePlayer) {
    flex-direction: column-reverse;
    margin-bottom: 10px;
    align-items: flex-end;
  }
  #player div:has(.namePlayer) .namePlayer {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 0;
  }
  #player .tabs .tab-contents .infoPlayer {
    flex-direction: column;
  }
  #player .tabs .tab-contents .infoPlayer .image {
    max-width: 90%;
  }
  #player .tabs .tab-contents .infoPlayer .image img {
    max-width: 100%;
  }
  #player .tabs .tab-contents .infoPlayer .right {
    width: 100%;
  }
  #player .tabs .tab-contents .infoPlayer .right .table {
    width: 100%;
  }
  #player .tabs .tab-contents .tablestatistic {
    table-layout: auto;
  }
  #player .tabs .tab-contents .tablestatistic td {
    min-width: 70px;
  }
  #player .tabs .tab-contents .tablestatistic td:first-child {
    min-width: 200px;
  }
  #Rankings .tableContent .note > * {
    width: 50%;
  }
  #hightLight .parent .group {
    gap: 25px;
  }
  #hightLight .parent .group .item {
    width: 100%;
  }
  #hightLight .parent .group .item.colspan2 .wImage::before {
    padding-bottom: 122.6708074534%;
  }
  #gallery.list .sessionName .image img {
    max-width: 100px;
  }
  #gallery.list .group .item:nth-child(1), #gallery.list .group .item:nth-child(2), #gallery.list .group .item:nth-child(3), #gallery.list .group .item:nth-child(4) {
    width: 100%;
    background: none;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
  }
  #gallery.list .group .item:nth-child(1) .wImage, #gallery.list .group .item:nth-child(2) .wImage, #gallery.list .group .item:nth-child(3) .wImage, #gallery.list .group .item:nth-child(4) .wImage {
    width: 120px;
  }
  #gallery.list .group .item:nth-child(1) .wImage:before, #gallery.list .group .item:nth-child(2) .wImage:before, #gallery.list .group .item:nth-child(3) .wImage:before, #gallery.list .group .item:nth-child(4) .wImage:before {
    padding-bottom: 66.6666666667%;
  }
  #gallery.list .group .item:nth-child(1) .info, #gallery.list .group .item:nth-child(2) .info, #gallery.list .group .item:nth-child(3) .info, #gallery.list .group .item:nth-child(4) .info {
    padding: 0;
    flex: 1;
  }
  #gallery.list .group .item:nth-child(1) .info .name, #gallery.list .group .item:nth-child(2) .info .name, #gallery.list .group .item:nth-child(3) .info .name, #gallery.list .group .item:nth-child(4) .info .name {
    padding: 0;
    line-height: 23px;
  }
  #gallery.list .group .item:nth-child(1) .info .name::before, #gallery.list .group .item:nth-child(2) .info .name::before, #gallery.list .group .item:nth-child(3) .info .name::before, #gallery.list .group .item:nth-child(4) .info .name::before {
    display: none;
  }
  #gallery.list .group .item:nth-child(1) .info .name, #gallery.list .group .item:nth-child(2) .info .name, #gallery.list .group .item:nth-child(3) .info .name, #gallery.list .group .item:nth-child(4) .info .name {
    font-size: 16px;
  }
  #match.detail .infoMatch .mid {
    padding: 15px 10px;
  }
  #match.detail .infoMatch .mid .team {
    gap: 10px;
  }
  #match.detail .infoMatch .mid .score {
    font-size: 40px;
    letter-spacing: 5px;
    text-align: center;
  }
  #match.detail .infoMatch .tab-links li a {
    font-size: 12px;
  }
  #match.detail .tab-contents .tab .squad {
    gap: 15px;
    flex-direction: column;
  }
  #match.detail .tab-contents .tab .squad .group {
    width: 100%;
  }
  #goaltatistics div:has(.nameGoalStatistics) {
    flex-direction: column-reverse;
    align-items: flex-end !important;
  }
  #goaltatistics div:has(.nameGoalStatistics) .nameGoalStatistics {
    width: 100%;
    margin-top: 10px;
  }
  #goaltatistics .table {
    table-layout: auto;
  }
  #goaltatistics .table td a {
    white-space: nowrap;
  }
  #schedule .round .group .table-responsive {
    width: 100%;
  }
  #schedule .round .group .table-responsive .table {
    table-layout: auto;
  }
  #schedule .round .group .table-responsive .table td {
    min-width: 70px;
    white-space: nowrap;
  }
}
@media (max-width: 320px) {
  :root {
    font-size: 14px;
  }
  .openList {
    width: 2.1875rem;
  }
}/*# sourceMappingURL=css_rwd.css.map */