@import "common";
@import "css_rwd_common.css";

@media (max-width: 1199px) {
  :root {
    font-size: 15px;
  }
  .openList {
    display: block;
    width: ptr(40);
    margin-left: ptr(15);
    hr {
      -moz-transition: 0.5s all ease-in-out;
      background: #333;
      border: 1px solid #333;
      transition: 0.5s all ease-in-out;
      z-index: 98;
      opacity: 1;
      margin: ptr(10) 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &.ac {
      position: relative;
      z-index: 21;
      hr:nth-child(2) {
        opacity: 0;
      }
      hr:nth-child(1) {
        background: #fff;
        border-color: #fff;
        transform: rotate(135deg) translateX(2px) translateY(-8px);
      }
      hr:nth-child(3) {
        background: #fff;
        border-color: #fff;
        transform: rotate(-135deg) translateX(7px) translateY(14px);
      }
    }
  }
  .wrp {
    max-width: calc(100vw - #{ptr(40)});
    .wrp {
      width: 100%;
    }
  }
  header {
    &:after {
      display: none;
    }
    .bgHead {
      display: none;
    }
    .wrp {
      transform: none;
      position: relative;
      left: 0;
      .top {
        width: 100%;
        position: static;
        .logo {
          .icon {
            svg {
              width: ptr(90);
              height: ptr(90);
            }
          }
        }
        .right {
          gap: ptr(0);
          .searchForm {
            display: none;
          }
          .language {
            svg path {
              fill: #333;
            }
          }
        }
      }
      #menu {
        overflow: auto;
        transform: none !important;
        opacity: 1 !important;
        position: fixed;
        width: 80vw;
        height: 100vh;
        z-index: 25;
        padding: 0;
        background: $color-hover;
        color: #333;
        top: 0;
        left: -100%;
        font-size: ptr(20);
        text-transform: uppercase;
        pointer-events: all !important;

        ul {
          z-index: 21;
          display: block;
          padding: ptr(20) 0;
          .openSub {
            display: flex;
            align-items: center;
            justify-content: center;
            width: ptr(50);
            font-size: ptr(20);

            &.ac {
              i:before {
                content: "\f106";
              }
            }
          }
          li {
            display: flex;
            padding: 0 ptr(20) 0 ptr(20);
            justify-content: space-between;
            &.active {
              background: $color-hover !important;
              color: #fff !important;
            }
            a {
              background: transparent !important;
              line-height: ptr(30);
              &:not(.btnSearch) {
                svg {
                  display: none;
                }
              }
              display: block;
              &:after {
                display: none;
              }
              display: flex;
              padding: ptr(15) ptr(22);
              align-items: center;
              justify-content: flex-start;
              flex-direction: row;
              border-right: none;
              flex: 1;

              span.icon {
                width: ptr(25);
                display: inline-block;
                margin: 0;
                margin-right: ptr(10);

                img {
                  display: block;
                  margin: auto;
                }
              }
            }

            &:hover {
              > ul {
                display: none;
              }

              > a {
                background: transparent;
                color: #fff;
              }
            }
            flex-wrap: wrap;
            ul {
              border: none !important;
              visibility: visible;
              opacity: 1;
              pointer-events: all;
              padding: 0 !important;
              padding-left: ptr(20);
              transition: none !important;
              height: auto;
              display: none;
              width: 100%;
              position: static;
              background: transparent;
              li {
                a {
                  padding: ptr(15) ptr(10);
                  white-space: normal;
                  font-size: ptr(19);
                  > i {
                    display: none;
                  }
                }
              }
            }
            .toggleSearch {
              display: none;
            }
          }
        }
        &.ac {
          left: 0;
        }
        .searchForm {
          margin-top: ptr(10);
          width: 100%;
          .btnSearch {
            flex: none;
            width: ptr(40);
            height: ptr(40);
            padding: 0;
          }
        }
      }
    }
  }
  #containHome {
    .wrp {
      .colLeft {
        width: 70%;
      }
      .colRight {
        width: 27%;
      }
    }
  }

  #news {
    .group {
      .item {
        .top {
          .wImage {
            width: ptr(100);
          }
        }
      }
    }
  }
  #newsHot {
    .wrp {
      .left {
        width: 60%;
      }
      .right {
        padding-left: ptr(20);
      }
    }
  }
}

@media (max-width: 991px) {
  .commonTitle {
    font-size: ptr(16);
  }
  #newsHot {
    .wrp {
      .left {
        width: 50%;
      }
      .right {
        flex: 1;
        padding-left: ptr(10);
        .info {
          padding: ptr(10);
          a {
            padding-top: ptr(10);
            &:first-child {
              padding-top: 0;
              border: none;
            }
          }
        }
      }
    }
  }
  #containHome {
    .wrp {
      .colLeft {
        width: 67%;
      }
      .colRight {
        width: 30%;
      }
    }
  }
  #contact {
    &.home {
      .content .statistical {
        gap: ptr(20);
        li {
          .text {
            white-space: nowrap;
          }
        }
      }
    }
  }
  footer {
    padding: ptr(20) 0;
    .wrp {
      .listInfo {
        flex-direction: column;
      }
    }
  }
  #documentHome {
    &.home {
      flex-direction: column;
      .parent {
        width: 100%;
      }
    }
    &.inside {
      .wrp {
        flex-direction: column;
        .colLeft {
          width: 100%;
          .formFilter {
            display: none;
            flex-wrap: wrap;
            gap: ptr(20);
            align-items: flex-end;
            .item,
            .btn {
              margin-bottom: 0;
              width: calc((100% - #{ptr(20)}) / 2) !important;
              padding-bottom: 0;
              border: none;
            }
            .btn {
              height: ptr(35);
            }
            &.ac {
              display: flex;
            }
          }
        }
        .colRight {
          width: 100%;
          margin-top: ptr(10);
          padding-left: 0;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .wrp {
    max-width: calc(100vw - #{ptr(20)});
  }
  header {
    .wrp {
      .top {
        .logo {
          .icon {
            max-width: ptr(70);
          }
          .text {
            padding-left: ptr(10);
            span:first-child {
              font-size: ptr(22);
              margin-bottom: 0;
            }
            span:last-child {
              font-size: ptr(16);
            }
          }
        }
      }
    }
  }
  .commonTitle {
    font-size: ptr(16);
    padding: 0 ptr(5);
    .xtc {
      display: none;
    }
  }
  #contact.home {
    padding: ptr(25) ptr(10);
    .content {
      width: 100%;
      .statistical {
        flex-direction: column;
        gap: ptr(10);
      }
    }
  }
}

@media (max-width: 479px) {
  header {
    .wrp {
      .top {
        flex-direction: column;
        .logo {
          padding: 0;
          width: 100%;
          .icon {
            max-width: ptr(70);
          }
          .text {
            padding-left: ptr(10);
            span:first-child {
              font-size: ptr(21);
              margin-bottom: 0;
            }
            span:last-child {
              font-size: ptr(15);
            }
          }
        }
        .right {
          width: 100%;
          justify-content: flex-end;
          margin-bottom: ptr(10);
          gap: ptr(0);
          .searchForm {
            display: flex;
            max-width: 100%;
            flex: 1;
          }
        }
      }
      #menu {
        ul {
          li {
            padding: 0;
            a {
              font-size: ptr(15) !important;
              padding: ptr(5) ptr(10) !important;
              padding-left: ptr(20) !important;
            }
          }
          .searchForm {
            margin: 0 ptr(10);
            margin-top: ptr(20);
            .btnSearch {
              padding: 0 !important;
            }
          }
        }
      }
    }
  }
  #newsHot {
    .wrp {
      flex-direction: column;
      .left {
        width: 100%;
        .main {
          .wImage {
            height: auto;
            &::before {
              padding-bottom: wImage(353, 770);
            }
          }
          .info {
            position: static;
            .name {
              font-size: ptr(16);
              height: auto;
            }
          }
        }
        .list {
          li a > span {
            height: auto;
            display: block;
          }
        }
      }
      .right {
        .main {
          .wImage {
            height: auto;
            &:before {
              padding-bottom: 100%;
            }
          }
        }
        width: 100%;
        padding-left: ptr(0);
        margin-top: ptr(20);
      }
    }
  }
  #containHome {
    .wrp {
      flex-direction: column;
      .colLeft {
        width: 100%;
      }
      .colRight {
        width: 100%;
        margin-top: ptr(20);
      }
    }
  }
  #containHome .wrp .colLeft .bannerTop {
    flex-direction: column;
    .commonBanner {
      width: 100%;
    }
  }
  #newsHome {
    .parent {
      margin-bottom: ptr(20);
      .group {
        .main {
          flex-direction: column;
          .wImage {
            width: 100%;
          }
          .info {
            width: 100%;
            padding: 0;
            margin-top: ptr(10);
          }
        }
      }
    }
  }
  #galleryHome {
    .parent {
      flex-direction: column;
      .videoHome {
        width: 100%;
        padding-right: 0;
      }
      .imageHome {
        width: 100%;
        margin-top: ptr(15);
      }
    }
  }
  #newsDetail {
    width: calc(100% + #{ptr(20)});
    margin-left: ptr(-10);
    .otherNews {
      margin: 0 ptr(10);
    }
  }
  #documentHome {
    &.home,
    &.inside {
      .wrp {
        .colLeft {
          .formFilter {
            .item,
            .btn {
              width: 100% !important;
            }
          }
        }
      }
      .tableDoc {
        padding-left: 0;
        padding-right: 0;
        table {
          font-size: ptr(16);
          thead {
            background: #dfdfdf;
            th {
              padding: ptr(10) ptr(0);
              font-size: ptr(14);
            }
          }
          tr {
            td,
            th {
              padding: ptr(10);
              &:nth-child(1) {
                width: ptr(100);
              }
              &:nth-child(2) {
                width: ptr(130);
              }
              &:nth-child(3) {
              }
            }
          }
        }
      }
      .detailDoc .tableDetail .content .rowDT {
        .col1 {
          width: ptr(180);
        }
      }
    }
  }
  .tabs .commonTitle.tab-links {
    li {
      padding: ptr(7) ptr(5);
      text-align: center;
    }
  }
  footer {
    .wrp {
      .logo {
        margin-bottom: ptr(20);
        .text {
          span:first-child {
            font-size: ptr(17);
          }
          span:last-child {
            font-size: ptr(16);
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  :root {
    font-size: 14px;
  }
  .openList {
    width: ptr(35);
  }
  header {
    .wrp {
      .top {
        .logo {
          .icon {
            max-width: ptr(60);
          }
          .text {
            span:first-child {
              font-size: ptr(18);
              margin-bottom: 0;
            }
            span:last-child {
              font-size: ptr(14);
            }
          }
        }
      }
    }
  }
}
