@import "common.scss";
@import "display.scss";
@charset "UTF-8";

:root {
  font-size: 1rem;
  --widthWrp: #{84rem};
}
* {
  box-sizing: border-box;
}
body {
  color: rgb(17, 17, 17);
  font-family: "Roboto", sans-serif;
  min-width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  font-size: 0.875rem;
  line-height: 1.3125rem;
}
.wrp {
  margin: auto;
  width: var(--widthWrp);
  max-width: 100%;
}
.commonBanner {
  display: block;
  text-align: center;

  img {
    width: 100%;
    height: auto;
  }
}
img {
  transition: 0.3s all ease-in-out;
}
a:hover {
  text-decoration: underline;
}
.noidung {
  padding: 0;
  a {
    &:hover {
      color: $color-hover !important;
    }
  }
}
.openSub {
  display: none;
}
.openList {
  display: none;
}
.name {
  &:hover {
    color: $color-hover;
  }
}

header {
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 10;
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
  box-shadow: 0 0 10px rgba(204, 204, 204, 0.5);
  padding: 5px 0;
  .wrp {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    align-items: flex-end;
    .logo img {
      max-width: 8.5rem;
      height: auto;
      max-height: 61px;
    }
    .right {
      width: calc(100% - 9.75rem);
      .marquee {
        overflow: hidden;
      }
      .listTeam {
        padding: 0.4375rem 0;
        display: flex;
        a.logoTeam {
          width: 3.125rem;
          height: 3.125rem;
          border: 0.0625rem solid #c5c5c5;
          margin-right: 0.3125rem;
          padding: 0.3125rem;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      .menu {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background: $color-main;
        //color: #fff;
        padding: 0 1.25rem;
        gap: 2.5rem;
        a:hover {
          text-decoration: none;
        }
        .text {
          line-height: 1.5rem;
          p:first-child {
            text-transform: uppercase;
          }
          p:last-child {
            font-size: 1.0625rem;
            font-weight: 700;
          }
        }
        #menu {
          flex: 1;
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          font-family: "Roboto Condensed", sans-serif;
          > li {
            font-size: 1rem;
            font-weight: 700;
            > a {
              width: 100%;
            }
          }
          li {
            position: relative;
            flex: auto;
            padding: 1.25rem 0;
            a {
              display: flex;
              text-align: center;
              align-items: center;
              justify-content: center;
            }
            &:hover > a {
              color: $color-hover;
            }
            &:hover > ul {
              display: block;
            }
            &:hover > .menuSub {
              display: flex;
            }
            ul {
              position: relative;
              display: none;
              list-style: none;
              padding: 0;
              margin: 0;
              background: #fff;
              position: absolute;
              top: 100%;
              left: -0.625rem;
              z-index: 2;
              color: #000;
              min-width: 12.5rem;
              box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
              li {
                padding: 0;
                a {
                  padding: 0.4375rem 0.9375rem;
                  font-weight: normal;
                  font-size: 0.9375rem;
                  display: block;
                  width: 100%;
                  text-align: left;
                }
                &:hover > a {
                  background: $color-hover;
                  color: #fff;
                }
                ul {
                  top: 0;
                  left: 100%;
                }
              }
            }
          }
          .menuSub {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background: #fff;
            z-index: 7;
            .menuLeft {
              width: 15.625rem;
              height: 18.75rem;
              overflow-y: auto;
              background: #fafafa;
              .itemLink {
                color: #000;
                font-weight: 700;
                text-align: right;
                display: block;
                font-size: 0.8125rem;
                padding: 0.4375rem 0.625rem;
                line-height: 1.125rem;
                &:hover,
                &.active {
                  background: $color-hover;
                  color: #fff;
                }
              }
            }
            .menuRight {
              flex: 1;
              padding: 1.25rem;
              .group {
                display: flex;
                gap: 1.25rem;
                .item {
                  width: calc((100% - 3.75rem) / 4);
                  .wImage {
                    &::before {
                      padding-bottom: wImage(135, 196);
                    }
                  }
                  .nameCate {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 0.3125rem 0.9375rem;
                    background: $color-main;
                    color: #fff;
                    font-size: 0.6875rem;
                    line-height: 1rem;
                    font-family: Roboto;
                    &:hover,
                    &.active {
                      background: $color-hover;
                      color: #fff;
                    }
                  }
                  .name {
                    color: #000;
                    font-size: 0.875rem;
                    text-align: left;
                    line-height: 1.125rem;
                    display: block;
                    margin-top: 0.4375rem;
                    &:hover {
                      color: $color-hover;
                    }
                  }
                }
              }
              .btnNav {
                display: flex;
                gap: 0.625rem;
                margin-top: 0.9375rem;
                a {
                  width: 1.5625rem;
                  height: 1.5625rem;
                  border: 0.0625rem solid #ccc;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: #ccc;
                  font-size: 0.8125rem;
                  border-radius: 0.125rem;
                  &:hover {
                    background: $color-hover;
                    color: #fff;
                    border-color: $color-hover;
                  }
                }
              }
            }
          }
          .btnSearchPage {
            text-align: center;
            &.active {
              i {
                &::before {
                  content: "\f00d";
                }
              }
            }
          }
          .divSearchPage {
            display: none;
            position: absolute;
            top: 100%;
            min-width: 18.75rem;
            right: 0;
            z-index: 7;
            border: 0.0625rem solid #ccc;
            border-radius: 0.25rem;
            overflow: hidden;
            box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5);
            input {
              width: 100%;
              border: none;
              height: 2.1875rem;
              padding: 0 0.625rem;
              font-family: Roboto;
              font-size: 0.8125rem;
              outline: none;
            }
            .btn_divSearchPage {
              display: none;
            }
          }
        }
      }
    }
  }
}

#session {
  margin-top: 0.625rem;
  .tabs {
    .tab {
      &-links {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        li {
          flex: 1;
          background: var(--bg);
          position: relative;
          > a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.625rem;
            gap: 0.625rem;
            text-transform: uppercase;
            font-family: "Roboto Condensed", sans-serif;
            color: #fff;
            font-size: 1.25rem;
            .icon img {
              height: 1.875rem;
            }
          }
          &:after {
            content: "";
            width: 0;
            height: 0;
            border-left: 0.4375rem solid #fff;
            border-top: 0.4375rem solid #fff;
            border-bottom: 0.4375rem solid transparent;
            border-right: 0.4375rem solid transparent;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -0.4375rem;
            pointer-events: none;
            transform: rotate(45deg);
            display: none;
          }
          &.active::after {
            display: block;
          }
        }
      }
      &-contents {
        background: url(./icon/topbar-ltd-bg.png) repeat-x;
        background-size: auto 100%;
        .tab {
          display: flex;
          &:not(.active) {
            display: none;
          }
        }
        .item {
          padding: 0.3125rem;
          border: 0.0625rem solid #fff;
          border-left: 0.0313rem solid #fff;
          border-right: 0.0313rem solid #fff;
          .info {
            text-align: center;
            display: flex;
            flex-direction: column;
            .stadium {
              font-size: 0.75rem;
            }
          }
          .result {
            margin-top: 0.3125rem;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            .team_1,
            .team_2 {
              .logo {
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 0.25rem;
                background: #fff;
                padding: 0.25rem;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                  width: 100%;
                  height: auto;
                }
                flex-direction: column;
              }
              .name {
                margin-top: 0.1875rem;
                font-weight: bold;
                display: block;
              }
            }
            .score {
              display: flex;
              flex-direction: column;
              margin: 0 1.5625rem;
              min-height: 2.5rem;
              align-items: center;
              justify-content: center;
              span {
                height: 1.3125rem;
              }
              a {
                padding: 0;
                font-size: 0.8125rem;
                min-width: 2.5rem;
                line-height: unset;
                word-spacing: 0;
                background-color: #fff;
                color: #ff0000;
                display: block;
                font-weight: bold;
                text-align: center;
                border-radius: 1.25rem;
              }
            }
          }
        }
        .owl-nav {
          @extend %owl-nav;
        }
      }
    }
  }
}

#slideMain {
  position: relative;
  margin-bottom: 1.5625rem;
  .group {
    .owl-dots {
      @extend %owl-dots;
      position: absolute;
      bottom: 0.625rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.titleModule {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.625rem;
  .name {
    font-family: "Roboto Condensed", sans-serif;
    color: $color-main;
    font-size: 1.4375rem;
    font-weight: 600;
  }
  .viewMore {
    font-weight: 500;
    padding: 0.4375rem 0.9375rem;
    background: $color-main;
    color: #fff;
    border-radius: 0.3125rem;
    &:hover {
      background: $color-hover;
    }
  }
}

#container {
  .wrp {
    display: flex;
    gap: 1.875rem;
    .colLeft {
      width: percent(1012, 1344);
    }
    .colRight {
      width: percent(300, 1344);
    }
  }
  &.inside {
    padding: 2.5rem 0;
  }
}

#latestNews {
  .group {
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;
    .item {
      background: #f8f8f9;
      width: calc((100% - 3.75rem) / 3);
      .wImage {
        &::before {
          padding-bottom: wImage(150, 316);
        }
      }
      .content {
        padding: 1.25rem 0.9375rem;
        .name {
          font-weight: bold;
          line-height: 1.3125rem;
          font-size: 1rem;
          display: block;
          margin-bottom: 0.4375rem;
        }
        .nameCate {
          margin-bottom: 0.625rem;
          background: $color-main;
          color: #fff;
          padding: 0.3125rem 0.9375rem;
          border-radius: 0.3125rem;
          font-size: 0.75rem;
          &:hover {
            background: $color-hover;
          }
        }
      }
      &:nth-child(1) {
        width: 100%;
        display: flex;
        .wImage {
          width: percent(678, 1044);
        }
        .content {
          flex: 1;
          padding: 1.25rem;
          .name {
            font-size: 1.375rem;
            line-height: 1.875rem;
          }
        }
      }
    }
  }
}

.mediaHome {
  margin-top: 1.875rem;
  .group {
    .item {
      position: relative;
      .wImage {
        &::before {
          padding-bottom: wImage(250, 448);
        }
      }
      &:hover {
        &:after {
          background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 50%,
            rgba(126, 200, 59, 0.7) 100%
          );
        }
      }
      &:after {
        transition: 0.3s all ease-in-out;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) 40%,
          rgba(0, 0, 0, 1) 100%
        );
        pointer-events: none;
        display: block;
        z-index: 5;
        top: 0;
        left: 0;
      }
      .content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 6;
        padding: 0.625rem 1.25rem;
        .name {
          font-size: 1.125rem;
          font-weight: 500;
          color: #fff;
          line-height: 1.5625rem;
          display: block;
          margin-bottom: 0.4375rem;
        }
        .nameCate {
          background: $color-main;
          color: #fff;
          padding: 0.4375rem 0.9375rem;
          border-radius: 0.1875rem;
          font-size: 0.8125rem;
          &:hover {
            background: $color-hover;
          }
        }
      }
    }
    .owl-nav {
      @extend %owl-nav;
    }
  }
}

#charts {
  background: $color-hover;
  .top {
    padding: 0.625rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
    line-height: 2.375rem;
    color: #fff;
    img {
      max-width: 7.9375rem;
      height: auto;
    }
  }
  .tabs {
    .tab {
      &-links {
        &:is(ul) {
          padding: 0;
          margin: 0;
          list-style: none;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          gap: 0.625rem;
          li {
            a {
              padding: 0.9375rem 1.25rem 0.625rem 1.25rem;
              background: #fff;
              border-radius: 0.25rem 0.25rem 0 0;
              display: block;
            }
            &:not(.active) {
              a {
                background: $color-main;
                color: #fff;
              }
            }
          }
        }
        &:is(select) {
          border-top: none;
          width: 100%;
          outline: none;
          padding: 0 15px;
          border-radius: 0;
          border-color: #f0f0f0;
          background: $color-main;
          color: #fff;
        }
      }
      &-contents {
        background: #fff;
        @extend %tabContent;
        padding: 0.625rem;
        border: 0.0625rem solid #f0f0f0;
        border-top: none;
        .group {
          .textGroup {
            font-weight: bold;
          }
          .table {
            font-size: 0.8125rem;
            width: 100%;
            .nameTeam {
              .icon {
                padding: 0.25rem;
                border-radius: 0.25rem;
                border: 0.0625rem solid #ddd;
                width: 1.5625rem;
              }
              .text {
                font-size: 0.75rem;
                color: #333;
              }
            }
            td,
            th {
              vertical-align: middle;
              text-align: center;
              &:nth-child(1) {
                width: 3.125rem;
              }
              &:nth-child(2) {
                text-align: left;
              }
            }
          }
        }
        .viewDetail {
          display: block;
          margin-top: 0.625rem;
          margin-bottom: 0.3125rem;
          padding: 0.4375rem 0.625rem;
          border: 0.0625rem solid rgba(0, 0, 0, 0.1);
          background: #f7f7f7;
          color: #333;
          text-align: center;
          &:hover {
            background: $color-hover;
            color: #fff;
          }
        }
      }
    }
  }
}

#playerRankings {
  background: $color-main;
  padding: 0.625rem;
  .tabs {
    .tab {
      &-links {
        &:is(ul) {
          padding: 0;
          margin: 0;
          list-style: none;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          margin-bottom: 0.9375rem;
          li {
            a {
              display: block;
              font-size: 1.125rem;
              font-weight: 400;
              padding: 0.375rem 0.75rem;
              border-bottom: 0.1875rem solid #fff;
              padding-bottom: 0.625rem;
              color: #fff;
            }
            &.active {
              a {
                border-bottom: 0.1875rem solid $color-hover;
                color: $color-hover;
                font-weight: 500;
              }
            }
          }
        }
        &:is(select) {
          border: none;
          width: 100%;
          outline: none;
          padding: 0 10px;
          margin-bottom: 25px;
        }
      }
      &-contents {
        @extend %tabContent;
        .group {
          display: flex;
          flex-direction: column;
          gap: 2.5rem;
          .item {
            .top {
              display: flex;
              justify-content: space-between;
              align-items: center;
              background: $color-hover;
              color: #fff;
              .imagePlayer {
                width: 3.75rem;
                height: 3.75rem;
                border-radius: 50%;
                border: 0.125rem solid #fff;
                overflow: hidden;
                margin: -0.3125rem 0 -0.125rem 0.9375rem;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
              .countGoal {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding-right: 0.625rem;
                font-size: 0.9375rem;
                font-weight: bold;
              }
            }
            .info {
              display: flex;
              justify-content: space-between;
              background: #fff;
              align-items: center;
              padding: 0.625rem 0.3125rem;
              .name {
                font-weight: bold;
              }
              .team {
                font-weight: bold;
                display: flex;
                align-items: center;
                gap: 0.3125rem;
                .icon {
                  width: 1.875rem;
                  height: 1.875rem;
                  border: 0.0625rem solid #ddd;
                  border-radius: 0.25rem;
                  padding: 0.25rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  img {
                    width: 100%;
                    height: auto;
                  }
                }
              }
            }
          }
        }
        .viewDetail {
          display: block;
          margin-top: 1.25rem;
          margin-bottom: 0.3125rem;
          padding: 0.4375rem 0.625rem;
          border: 0.0625rem solid rgba(0, 0, 0, 0.1);
          background: #f7f7f7;
          color: #333;
          text-align: center;
          &:hover {
            background: $color-hover;
            color: #fff;
          }
        }
      }
    }
  }
}

#linkWebsites {
  width: 100%;
  margin: 1.25rem 0;
  height: 2.1875rem;
  border-color: #999;
  border-radius: 0.1875rem;
}

#pluginShare {
  background: #f2f2f2;
  padding: 2.5rem 0;
  .wrp {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2.5rem;
    .facebook {
      width: 25rem;
    }
    .youtube {
      background: #fff;
      flex: 1;
      padding-bottom: 1.25rem;
      .logo {
        display: flex;
        align-items: center;
        img {
          width: 5.5rem;
        }
        padding: 1.25rem;
        gap: 0.625rem;
        .text {
          font-weight: bold;
          font-size: 1.5rem;
        }
      }
      .iFrame {
        margin-bottom: 1.25rem;
        width: 100%;
        position: relative;
        &::before {
          content: "";
          display: block;
          width: 100%;
          padding-bottom: wImage(9, 16);
        }
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      .linkTag {
        padding: 0 1.25rem;
        display: inline-block;
      }
    }
    #slideBanner {
      width: 26rem;
    }
  }
}

#donors {
  .wrp {
    .parent {
      margin-top: 2.5rem;
      .title {
        text-transform: uppercase;
        text-align: center;
        font-size: 1.6875rem;
        line-height: 2.375rem;
        font-family: "Roboto Condensed", sans-serif;
        margin-bottom: 15px;
      }
      .group {
        // display: flex;
        // justify-content: center;
        // gap: 1.25rem;
        // margin-top: 1.25rem;
        // flex-wrap: wrap;
        overflow: hidden;
        > * {
          max-width: 100%;
          img {
            max-width: 100%;
            height: auto;
          }
        }
      }
      .owl-stage-outer {
        display: table;
        width: 100%;
        max-width: 100%;
        .owl-stage {
          margin: auto;
        }
      }
      // .owl-stage-outer:not(:has(.owl-item.cloned)) {
      //   display: flex;
      //   width: 100%;
      //   justify-content: center;
      // }
    }
  }
}

#menuFoot {
  background: $color-main;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    li {
      a {
        padding: 0.625rem 0.9375rem;
        display: block;
      }
      &:hover a {
        color: $color-hover;
      }
    }
  }
}
#infoPage {
  background: #151d2d;
  color: #fff;
  padding: 1.875rem 0;
  .wrp {
    display: flex;
    gap: 2.8125rem;
    flex-wrap: wrap;
    .item {
      width: calc((100% - 5.625rem) / 3);
      display: flex;
      align-items: center;
      gap: 0.625rem;
      .text {
        flex: 1;
        display: flex;
        flex-direction: column;
        span:first-child {
          text-transform: uppercase;
        }
        &.link {
          gap: 1.25rem;
          flex-direction: row;
          a {
            color: #81d4fa;
          }
        }
      }
    }
  }
}

#copyRight {
  .wrp {
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      height: 3.25rem;
    }
  }
}
#listSocial {
  background: $color-hover;
  padding: 0.625rem 0;
  margin-top: 3.125rem;
  .wrp {
    display: flex;
    gap: 0.625rem;
    justify-content: center;
    .item {
      color: #fff;
      width: 2.25rem;
      height: 2.25rem;
      border: 0.0625rem solid #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background: #fff;
        color: $color-main;
      }
    }
  }
}

#news {
  .titleCate {
    text-transform: uppercase;
    font-size: 1.875rem;
    line-height: 2.375rem;
    font-weight: 700;
    margin-bottom: 0.625rem;
  }
  .catesort {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.625rem;
    .listCate {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.3125rem;
      .listCate_item {
        padding: 0.4375rem 0.9375rem 0.3125rem 0.9375rem;
        background: $color-main;
        color: #fff;
        display: block;
        border-radius: 0.1875rem;
        &.active,
        &:hover {
          background: $color-hover;
        }
      }
    }
    .sort {
      width: 9.375rem;
    }
  }
  &.list {
    .main {
      margin-bottom: 2.5rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0.625rem;
      grid-row-gap: 0.625rem;
      .item {
        position: relative;
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 5;
          pointer-events: none;
          background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 40%,
            rgba(0, 0, 0, 0.7) 100%
          );
          display: block;
          top: 0;
          left: 0;
        }
        &:nth-child(1) {
          grid-area: 1 / 1 / 3 / 2;
          .wImage {
            height: 100%;
            &::before {
              padding-bottom: wImage(451, 675);
            }
          }
        }
        &:nth-child(2) {
          grid-area: 1 / 2 / 2 / 3;
          .wImage {
            &::before {
              padding-bottom: wImage(220, 658);
            }
          }
        }
        &:nth-child(3) {
          grid-area: 2 / 2 / 3 / 3;
          .wImage {
            &::before {
              padding-bottom: wImage(220, 658);
            }
          }
        }
        .info {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          z-index: 6;
          color: #fff;
          padding: 0.9375rem;
          .nameCate {
            padding: 0.3125rem 0.625rem;
            background: $color-main;
            color: #fff;
            font-size: 0.75rem;
            border-radius: 0.25rem;
            &:hover {
              background: $color-hover;
            }
          }
          .name {
            font-size: 1.25rem;
            display: block;
            line-height: 1.6875rem;
            margin-top: 0.375rem;
            font-family: "Roboto Condensed", sans-serif;
            font-weight: 500;
          }
        }
      }
    }
    .group {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5625rem;
      .item {
        width: calc((100% - 1.875rem) / 2);
        display: flex;
        gap: 0.9375rem;
        align-items: flex-start;
        .wImage {
          width: 6.25rem;
          &:before {
            padding-bottom: wImage(70, 100);
          }
        }
        .info {
          flex: 1;
          .name {
            font-size: 0.875rem;
            line-height: 1.25rem;
            font-weight: bold;
            display: block;
            margin-bottom: 0.3125rem;
          }
          .nameCate {
            padding: 0.3125rem 0.625rem;
            background: $color-main;
            color: #fff;
            font-size: 0.75rem;
            border-radius: 0.25rem;
            &:hover {
              background: $color-hover;
            }
          }
        }
      }
    }
    &.nofication {
      .group {
        .item {
          width: calc((100% - 3.75rem) / 3);
        }
      }
    }
    &.videoList {
      .group {
        .item {
          .wImage {
            img {
              filter: brightness(80%);
            }
            &:after {
              content: "\f144";
              font-family: "FontAwesome";
              font-weight: 400;
              position: absolute;
              color: #fff;
              top: 50%;
              left: 50%;
              transform: translateX(-50%) translateY(-50%);
              font-size: 1.25rem;
              pointer-events: none;
            }
          }
        }
      }
    }
  }
  &.detail {
    .titleCate {
      text-transform: none;
      margin-bottom: 1.25rem;
    }
    .description {
      font-weight: bold;
      font-size: 1rem;
      line-height: 1.625rem;
    }
    .contentDetail {
      margin-top: 1.25rem;
      font-size: 0.9375rem;
      line-height: 1.625rem;
    }
    .other {
      margin-top: 2.5rem;
      .tabs {
        .tab-links {
          margin: 0;
          padding: 0;
          margin-bottom: 1.25rem;
          list-style: none;
          display: flex;
          text-transform: uppercase;
          border-bottom: 0.125rem solid $color-hover;
          li {
            a {
              font-weight: bold;
              padding: 0.3125rem 0.625rem 0.1875rem 0.625rem;
              display: block;
              font-size: 0.8125rem;
            }
            &.active {
              background: $color-hover;
              color: #fff;
            }
          }
        }
        .tab-contents {
          @extend %tabContent;
          .item {
            .wImage {
              &:before {
                padding-bottom: wImage(150, 218);
              }
              border-radius: 0.25rem;
              .nameCate {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 5;
                padding: 0.3125rem 0.9375rem;
                font-size: 0.75rem;
                background: $color-main;
                color: #fff;
                display: inline-block;
                &:hover {
                  background: $color-hover;
                }
              }
            }
            .name {
              display: block;
              margin-top: 0.625rem;
              font-weight: bold;
              line-height: 1.3125rem;
            }
          }
        }
      }
    }
  }
}
.nextPrevNews {
  display: flex;
  justify-content: space-between;
  margin-top: 1.875rem;
  gap: 3.125rem;
  > * {
    flex: 1;
    .title {
      font-size: 0.75rem;
      color: #c1c1c1;
      margin-bottom: 0.4375rem;
    }
    .name {
      font-size: 0.9375rem;
      line-height: 1.4375rem;
    }
    &:last-child {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
}
.pagging {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.875rem;
  font-size: 0.8125rem;
  ul {
    flex: 1;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 0.5rem;
    li {
      a {
        padding: 0 0.625rem;
        min-width: 2.0625rem;
        height: 2.0625rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.0625rem solid #e3e3e3;
        color: #666;
      }
      &.active a,
      &:hover a {
        background: $color-main;
        border-color: $color-main;
        color: #fff;
      }
    }
  }
}
.plugShare {
  padding: 1.25rem 0;
  border-top: 0.0625rem solid #ddd;
  border-bottom: 0.0625rem solid #ddd;
  display: flex;
  gap: 0.5rem;
  .item {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.1875rem;
    background: var(--bg);
    color: #fff;
    &:hover {
      filter: brightness(120%);
    }
  }
}
#pathWay {
  background: var(--bg);
  background-repeat: no-repeat;
  min-height: 11.5rem;
  display: flex;
  align-items: center;
  .wrp {
    font-size: 2.5rem;
    font-weight: 500;
  }
}

#ListTeam {
  .titleModule {
    font-size: 1.6875rem;
    line-height: 2.375rem;
    font-weight: bold;
  }
  #chooseSession {
    height: 2.1875rem;
    width: 18.75rem;
    border-color: #333;
    margin-bottom: 1.25rem;
  }
  .group {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    .item {
      width: calc((100% - 6.25rem) / 6);
      border: 0.0625rem solid #ccc;
      padding: 0.625rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 0.25rem;
      transition: 0.3s all ease-in-out;
      .logo {
        display: flex;
        justify-content: center;
        img {
          max-width: 90%;
          height: auto;
        }
      }
      .text {
        margin-top: 0.9375rem;
        font-weight: 500;
      }
      &:hover {
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
      }
    }
  }
}

#Rankings {
  width: 100%;
  .titleModule {
    font-weight: bold;
    font-size: 1.875rem;
    margin-bottom: 0.9375rem;
  }
  .tableContent {
    margin-bottom: 2.5rem;
    .chooseSession {
      width: 15.625rem;
      height: 1.875rem;
      float: right;
    }
    margin-top: 1.25rem;
    .group {
      margin-top: 1.25rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      .titleGroup {
        text-align: center;
        display: block;
        font-weight: bold;
        margin-bottom: 0.9375rem;
        font-size: 1.0625rem;
      }
      .table {
        width: 62.5rem;
        max-width: 100%;
        thead {
          background: $color-hover;
          position: sticky;
          top: 0;
          th {
            text-align: center;
            color: #fff;
          }
        }
        tbody {
          tr {
            td {
              vertical-align: middle;
              text-align: center;
              .nameTeam {
                display: flex;
                align-items: center;
                gap: 0.625rem;
                .icon {
                  width: 2.5rem;
                  height: 2.5rem;
                  background: #fff;
                  border-radius: 0.1875rem;
                  border: 0.0625rem solid #ccc;
                  padding: 0.25rem;
                  img {
                    max-width: 100%;
                    height: auto;
                  }
                }
                &:hover {
                  color: $color-hover;
                }
              }
            }
            &:hover {
              background: #f2f2f2;
            }
          }
        }
      }
    }
    .note {
      margin-top: 1.25rem;
      display: flex;
      flex-wrap: wrap;
      gap: 0.625rem 0;
      > * {
        width: calc(100% / 5);
      }
    }
  }
}

#tabCates {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 0.625rem;
  margin-top: -2.25rem;
  li {
    a {
      display: flex;
      height: 2.25rem;
      padding: 0 1.25rem;
      border-radius: 0.3125rem 0.3125rem 0 0;
      background: #fff;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
    }
    &.active,
    &:hover {
      a {
        background: $color-hover;
        color: #fff;
      }
    }
  }
}

#hightLight {
  .parent {
    margin-bottom: 2.5rem;
    .group {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5625rem;
      .item {
        width: calc((100% - 3.125rem) / 3);
        position: relative;
        .wImage {
          &::before {
            padding-bottom: wImage(395, 322);
          }
        }
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          pointer-events: none;
          background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 40%,
            rgba(0, 0, 0) 100%
          );
          z-index: 6;
        }
        &::after {
          content: "\f144";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          pointer-events: none;
          z-index: 7;
          font-family: "FontAwesome";
          font-weight: 300;
          font-size: 3.125rem;
          color: #ccc;
        }
        .info {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: auto;
          z-index: 7;
          color: #fff;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 1.25rem 0.625rem;
          .nameCate {
            padding: 0.3125rem 0.9375rem;
            background: $color-hover;
            color: #fff;
            font-size: 0.75rem;
            margin-bottom: 0.625rem;
            display: inline-block;
          }
          .name {
            font-weight: bold;
            font-size: 1rem;
            line-height: 1.5rem;
          }
        }
        &.colspan2 {
          width: calc(((100% - 3.125rem) / 3) * 2 + 1.5625rem);
          .wImage {
            height: 100%;
            min-height: 24.6875rem;
            &::before {
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }
}

#vote {
  .titleModule {
    text-transform: uppercase;
    font-size: 1.5625rem;
    margin-bottom: 1.25rem;
    font-weight: 500;
  }
  .listVote {
    margin: 2.5rem 0;
    .title {
      font-weight: bold;
      font-size: 1.125rem;
      margin-bottom: 0.9375rem;
      line-height: 1.625rem;
    }
    .group {
      border: 0.0625rem solid #dddddd;
      .item {
        padding: 1rem;
        border-bottom: 0.0625rem solid #dddddd;
        &:last-child {
          border-bottom: none;
        }
        .percent {
          display: flex;
          align-items: center;
          gap: 0.625rem;
          .text {
            font-size: 0.75rem;
          }
          .bar {
            background: linear-gradient(to right, #2196f3 0%, #1976d2 100%);
            width: var(--percent);
            height: 0.8125rem;
            border-radius: 1.25rem;
          }
        }
      }
    }
  }
}

#gallery {
  &.list {
    .sessionName {
      display: flex;
      align-items: center;
      gap: 0.9375rem;
      .text {
        font-size: 1.5625rem;
        font-weight: bold;
      }
      margin-bottom: 1.875rem;
    }
    .group {
      display: flex;
      flex-wrap: wrap;
      gap: 1.25rem;
      .item {
        display: flex;
        width: 100%;
        gap: 0.9375rem;
        .wImage {
          border-radius: 0.1875rem;
          width: 7.5rem;
          &:before {
            padding-bottom: wImage(2, 3);
          }
        }

        .info {
          flex: 1;
          .name {
            font-weight: bold;
            font-size: 1rem;
            line-height: 1.4375rem;
            display: block;
          }
          .nameCate {
            padding: 0.3125rem 0.9375rem;
            background: $color-hover;
            color: #fff;
            display: inline-block;
            font-size: 0.75rem;
            border-radius: 0.25rem;
            margin-top: 0.1875rem;
          }
        }
        &:nth-child(1) {
          background: #f8f8f9;
          .wImage {
            width: percent(676, 1010);
          }
          .info {
            padding: 0.9375rem 0.625rem;
            .name {
              position: relative;
              font-size: 1.25rem;
              line-height: 1.75rem;
              margin-bottom: 0.3125rem;
              padding-top: 0.625rem;
              &::before {
                content: "";
                height: 0.125rem;
                width: 3.75rem;
                background: $color-hover;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
              }
            }
          }
        }
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          gap: 0;
          background: #f8f8f9;
          width: calc((100% - 2.5rem) / 3);
          flex-direction: column;
          .wImage {
            width: 100%;
          }
          .info {
            padding: 0.625rem 0.9375rem 1.875rem 0.9375rem;
            .name {
              font-size: 1rem;
              line-height: 1.4375rem;
            }
          }
        }
      }
    }
    .viewMore {
      color: #a5a5a5;
      display: inline-block;
      font-size: 0.75rem;
      padding: 0.1875rem 0.9375rem;
      border: 0.0625rem solid #c9c9c9;
      text-align: center;
      vertical-align: middle;
      border-radius: 0.1875rem;
      &:hover {
        background: $color-hover;
        color: #fff;
        border-color: $color-hover;
      }
      margin-top: 1.25rem;
    }
  }
}

#match {
  width: 100%;
  &.detail {
    .nameMatch {
      font-weight: bold;
      font-size: 1.875rem;
      margin-bottom: 0.9375rem;
      display: block;
    }
    .infoMatch {
      background: $color-main;
      color: #fff;
      width: 100%;
      .top {
        display: flex;
        justify-content: space-between;
        border-bottom: 0.0625rem solid #fff;
        padding: 0.625rem 1.25rem;
        > p {
          display: flex;
          gap: 0.4375rem;
          align-items: center;
        }
      }
      .mid {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 0;
        border-bottom: 0.0625rem solid #fff;
        .team {
          display: flex;
          align-items: center;
          gap: 1.25rem;
          .image {
            background: #fff;
            border-radius: 0.25rem;
            width: 3.75rem;
            height: 3.75rem;
            padding: 0.3125rem;
            img {
              max-width: 100%;
            }
          }
          .name {
            font-weight: bold;
            font-size: 0.9375rem;
          }
        }
        .score {
          font-size: 3.125rem;
          letter-spacing: 1.5625rem;
          font-weight: 500;
        }
      }
      .tab-links {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        width: 100%;
        li {
          flex: 1;
          > a {
            display: block;
            text-transform: uppercase;
            padding: 0.625rem 0 0.3125rem 0;
            text-align: center;
            font-size: 0.9375rem;
            font-weight: 500;
            border-bottom: 0.1875rem solid transparent;
          }
          &.active a {
            border-bottom: 0.1875rem solid $color-hover;
          }
        }
      }
    }
    .tab-contents {
      @extend %tabContent;
      margin-bottom: 2.5rem;
      .tab {
        border: 0.0625rem solid $color-main;
        padding: 0.625rem;
        .titleDiv {
          text-transform: uppercase;
          background: $color-main;
          color: #fff;
          font-weight: bold;
          padding: 0.4375rem 0.9375rem 0.3125rem 0.9375rem;
        }
        .playerStatistics {
          margin: 1.25rem 0;
          border: 0.0625rem solid $color-main;
          .teamMath {
            display: flex;
            justify-content: space-between;
            padding: 0.625rem 1.25rem;
            .team {
              display: flex;
              align-items: center;
              gap: 0.625rem;
              .image {
                background: #fff;
                border-radius: 0.25rem;
                width: 2.5rem;
                height: 2.5rem;
                padding: 0.3125rem;
                border: 0.0625rem solid #ccc;
                img {
                  max-width: 100%;
                }
              }
              .name {
                font-size: 0.875rem;
              }
            }
          }
          .content {
            .tableContent {
              table-layout: fixed;
              td {
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                  width: 6.875rem;
                }
              }
              td {
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(4),
                &:nth-child(5) {
                  border: none;
                }
              }
            }
          }
        }
        .otherInfomation {
          .noidung {
            border: 0.0625rem solid $color-main;
            padding: 0.625rem;
          }
        }
        .squad {
          display: flex;
          gap: 2.5rem;
          .group {
            flex: 1;
            .table {
              margin-top: 0.625rem;
              table-layout: fixed;
              td {
                text-align: center;
                vertical-align: middle;
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(4) {
                  width: 4.375rem;
                }
                &:nth-child(3) {
                  text-align: left;
                }
                .image {
                  border: 0.0625rem solid #ccc;
                  border-radius: 0.1875rem;
                  padding: 0.25rem;
                  width: 2.5rem;
                  height: 2.5rem;
                  display: block;
                  img {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

#teamDetails {
  width: 100%;
  .top {
    display: flex;
    align-items: center;
    .logo {
      padding-right: 0.9375rem;
      border-right: 0.0625rem solid #ccc;
      img {
        width: 11.4375rem;
        height: auto;
      }
    }
    .stadium {
      flex: 1;
      padding-left: 1.875rem;
      .nameTeam {
        font-size: 1.875rem;
        font-weight: bold;
        display: block;
        margin-bottom: 1.25rem;
      }
      .afterName {
        display: flex;
        .item {
          align-items: center;
          gap: 1.25rem;
          flex: 1;
          display: flex;
          .text {
            display: flex;
            flex-direction: column;
            gap: 0.625rem;
            font-size: 1.125rem;
          }
        }
      }
    }
  }
  .tabs {
    margin-top: 2.5rem;
    .tab-links {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      background: $color-main;
      li {
        flex: 1;
        a {
          text-transform: uppercase;
          padding: 0.625rem 0;
          text-align: center;
          display: block;
          font-size: 1.0625rem;
          font-weight: 500;
          color: #fff;
          min-height: 100%;
        }
        &.active {
          a {
            background: $color-hover;
          }
        }
      }
    }
    .tab-contents {
      width: 100%;
      @extend %tabContent;
      border: 0.0625rem solid $color-main;
      border-top: none;
      padding: 1.25rem;
      .table {
        margin-top: 1.25rem;
        thead {
          background: $color-main;
          color: #fff;
          position: sticky;
          top: 0;
          th {
            text-align: center;
            vertical-align: middle;
            white-space: nowrap;
          }
        }
        tbody {
          td {
            min-width: 6.25rem;
            vertical-align: middle;
            text-align: center;
            .player {
              display: flex;
              align-items: center;
              gap: 0.4375rem;
              .js_div_particName {
                white-space: nowrap;
              }
              .image {
                width: 2.5rem;
                background: #fff;
                border: 0.0625rem solid #ccc;
                padding: 0.25rem;
                border-radius: 0.1875rem;
              }
            }
          }
        }
      }
    }
  }
}

#player {
  width: 100%;
  .namePlayer {
    font-weight: bold;
    font-size: 1.875rem;
    display: block;
    margin-bottom: 1.25rem;
  }
  .tabs {
    .tab-links {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      li {
        flex: 1;
        a {
          display: block;
          text-align: center;
          padding: 0.4375rem 0.625rem;
          background: $color-main;
          color: #fff;
          text-transform: uppercase;
          font-weight: 500;
        }
        &.active a {
          background-color: $color-hover;
        }
      }
    }
    .tab-contents {
      @extend %tabContent;
      margin: 1.25rem 0 2.5rem 0;
      .tablestatistic {
        table-layout: fixed;
        td {
          vertical-align: middle;
          text-align: center;
          &:nth-child(1) {
            width: 31.25rem;
            text-align: left;
            img {
              margin-right: 0.625rem;
            }
          }
        }
      }
      .tableMatch {
        td {
          text-align: center;
          vertical-align: middle;
        }
      }
      .infoPlayer {
        display: flex;
        gap: 1.875rem;
        align-items: center;
        .image {
          border: 0.0625rem solid #ccc;
          padding: 0.625rem;
          border-radius: 0.3125rem;
          overflow: hidden;
          img {
            width: 15.625rem;
          }
        }
        .right {
          flex: 1;
          .table {
            width: auto;
            td:nth-child(1) {
              width: 9.375rem;
            }
            td:nth-child(2) {
              min-width: 12.5rem;
              &::before {
                content: ":";
                margin-right: 0.625rem;
              }
            }
          }
        }
      }
    }
  }
}

select {
  height: 2.1875rem;
  border-color: #ccc;
  border-radius: 0.1875rem;
  padding: 0 0.625rem;
}

#schedule {
  width: 100%;
  .nameSchedule {
    font-size: 1.875rem;
    font-weight: bold;
    margin-bottom: 0.9375rem;
    display: block;
  }
  .tabMonth {
    display: flex;
    margin-bottom: 0.625rem;
    .item {
      flex: 1;
      text-align: center;
      display: block;
      line-height: 2.8125rem;
      background: #e3e3e3;
      font-weight: 500;
      &:hover,
      &.active {
        color: #fff;
        background: $color-hover;
      }
    }
  }
  .search {
    display: flex;
    margin-bottom: 1.25rem;
    gap: 0.9375rem;
    select {
      flex: 1;
    }
    .btnSearch {
      height: 2.1875rem;
      padding: 0 1.25rem;
      border-radius: 0.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $color-main;
      color: #fff;
      &:hover {
        background: $color-hover;
      }
    }
  }
  .round {
    margin-bottom: 1.25rem;
    .titleRound {
      padding: 0.5rem;
      font-size: 1.0625rem;
      display: block;
      text-align: center;
      background: $color-hover;
      color: #fff;
      margin-bottom: 0.625rem;
    }
    .group {
      padding: 0 1.25rem;
      display: flex;
      align-items: center;
      padding-bottom: 1.25rem;
      border-bottom: 0.0625rem solid #e3e3e3;
      margin-bottom: 1.25rem;
      gap: 2.5rem;
      &:last-child {
        margin: 0;
        padding: 0 1.25rem;
        border: none;
      }
      .time {
        font-weight: bold;
        font-size: 0.9375rem;
      }
      .table-responsive {
        flex: 1;
        .table {
          margin-bottom: 0;
          table-layout: fixed;
          td {
            vertical-align: middle;
            &:nth-child(1),
            &:nth-child(4),
            &:nth-child(6) {
              width: 7.5rem;
            }
            &:nth-child(5) {
              width: 5.625rem;
            }
          }
        }
      }
    }
  }
}

#goaltatistics {
  width: 100%;
  .nameGoalStatistics {
    font-size: 1.5625rem;
    font-weight: bold;
    margin-bottom: 0.9375rem;
    display: block;
  }
  .table {
    table-layout: fixed;
    thead {
      position: sticky;
      top: 0;
    }
    td {
      vertical-align: middle;
    }
  }
}
#bttop {
  position: fixed;
  right: 0.625rem;
  bottom: 0.625rem;
  font-size: 1.5625rem;
  width: 2.5rem;
  height: 2.5rem;
  background: #ccc;
  border-radius: 0.25rem;
  line-height: 2.5rem;
  text-align: center;
  z-index: 10;
  display: none;
  transition: none;
  &:hover {
    text-decoration: none;
    background: $color-hover;
    color: #fff;
  }
}

.ifYoutube {
  position: relative;
  &::before {
    content: "";
    display: block;
    padding-bottom: wImage(9, 16);
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.openList,
.openSub,
.btn_divSearchPage {
  display: none;
}

#FullStatistics {
  margin-bottom: ptr(30);
  .titleModule {
    text-align: center;
    text-transform: uppercase;
    display: block;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: ptr(18);
    margin-bottom: ptr(15);
  }
  .wrp {
    display: flex;
    flex-wrap: wrap;
    .item {
      transition: 0.1s all ease-in-out;
      width: calc(100% / 4);
      padding: ptr(20) ptr(10) ptr(15) ptr(10);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: ptr(15);
      gap: ptr(3);
      background: var(--bg);
      color: var(--color);
      .number {
        font-size: ptr(30);
        font-family: "Roboto Condensed", sans-serif;
        font-weight: bold;
        min-height: ptr(22);
        transition: 0.3s all ease-in-out;
        position: relative;
        top: 0;
      }
      &:hover {
        filter: brightness(1.05);
        cursor: pointer;
        .number {
          top: ptr(-5);
        }
      }
    }
  }
}
