@charset "UTF-8";
#slideMain .group .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.625rem;
  width: 100%;
}
#slideMain .group .owl-dots .owl-dot {
  width: 0.625rem;
  height: 0.625rem;
  background: #ccc;
  border-radius: 50%;
  display: block;
  margin: 0 0.3125rem;
}
#slideMain .group .owl-dots .owl-dot.active {
  background: #7ec83b;
}

.mediaHome .group .owl-nav .owl-prev, #session .tabs .tab-contents .owl-nav .owl-prev,
.mediaHome .group .owl-nav .owl-next,
#session .tabs .tab-contents .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1.25rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  background: rgba(255, 255, 255, 0.2);
  color: #000;
  border-radius: 0 0.3125rem 0.3125rem 0;
}
.mediaHome .group .owl-nav .owl-prev:before, #session .tabs .tab-contents .owl-nav .owl-prev:before,
.mediaHome .group .owl-nav .owl-next:before,
#session .tabs .tab-contents .owl-nav .owl-next:before {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f053";
}
.mediaHome .group .owl-nav .owl-next.owl-next,
#session .tabs .tab-contents .owl-nav .owl-next.owl-next {
  left: auto;
  right: 0;
  border-radius: 0.3125rem 0 0 0.3125rem;
}
.mediaHome .group .owl-nav .owl-next.owl-next:before,
#session .tabs .tab-contents .owl-nav .owl-next.owl-next:before {
  content: "\f054";
}
.mediaHome .group .owl-nav .owl-prev:hover, #session .tabs .tab-contents .owl-nav .owl-prev:hover,
.mediaHome .group .owl-nav .owl-next:hover,
#session .tabs .tab-contents .owl-nav .owl-next:hover {
  background: rgb(255, 255, 255);
}

#player .tabs .tab-contents, #teamDetails .tabs .tab-contents, #match.detail .tab-contents, #news.detail .other .tabs .tab-contents, #playerRankings .tabs .tab-contents, #charts .tabs .tab-contents {
  position: relative;
}
#player .tabs .tab-contents .tab:not(.active), #teamDetails .tabs .tab-contents .tab:not(.active), #match.detail .tab-contents .tab:not(.active), #news.detail .other .tabs .tab-contents .tab:not(.active), #playerRankings .tabs .tab-contents .tab:not(.active), #charts .tabs .tab-contents .tab:not(.active) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  width: 100%;
}

body {
  color: #333;
  font: normal 13px Roboto;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
}

/*Bắt buộc để khối này*/
a,
span,
input[type=submit] {
  transition: all 0.3s ease 0s;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

/*Bắt buộc để khối này - end*/
h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

/*-----------Common-----------*/
/*float*/
.fl {
  float: left;
}

.fr {
  float: right;
}

.cb {
  clear: both;
}

/*font-weight*/
.fwb {
  font-weight: bold;
}

.fwn {
  font-weight: normal;
}

/*font-family*/
.ffTahoma {
  font-family: Tahoma;
}

.ffArial {
  font-family: Tahoma;
}

/*font-style*/
.fsti {
  font-style: italic;
}

.fstn {
  font-style: normal;
}

/*font-size*/
.fs9 {
  font-size: 9px;
}

.fs10 {
  font-size: 10px;
}

.fs11 {
  font-size: 11px;
}

.fs12 {
  font-size: 12px;
}

.fs13 {
  font-size: 13px;
}

.fs14 {
  font-size: 14px;
}

.fs16 {
  font-size: 16px;
}

.fs18 {
  font-size: 18px;
}

.fs20 {
  font-size: 20px;
}

/*text-align:*/
.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.tac {
  text-align: center;
}

.taj {
  text-align: justify;
}

/*text-decoration*/
.tdn {
  text-decoration: none;
}

.tdu {
  text-decoration: underline;
}

/*Margin*/
.m0 {
  margin: 0;
}

.ma {
  margin: auto;
}

/*Display*/
.db {
  display: block;
}

.dn {
  display: none;
}

.di {
  display: inline;
}

.dib {
  display: inline-block;
}

/*Position*/
.psa {
  position: absolute;
}

.psr {
  position: relative;
}

/*z-index*/
.zindex0 {
  z-index: 0;
}

.zindex1 {
  z-index: 1;
}

.zindex2 {
  z-index: 2;
}

.zindex3 {
  z-index: 3;
}

.zindex4 {
  z-index: 4;
}

.zindex5 {
  z-index: 5;
}

/*Over flow*/
.ofh {
  overflow: hidden;
}

.ofa {
  overflow: auto;
}

/*Text transform*/
.ttu {
  text-transform: uppercase;
}

.ttl {
  text-transform: lowercase;
}

/*Opacity*/
.opc0 {
  -moz-opacity: 0;
  -webkit-opacity: 0;
  filter: alpha(opacity=0);
  opacity: 0;
}

.opc50 {
  -moz-opacity: 0.5;
  -webkit-opacity: 0.5;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.opc80 {
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
  filter: alpha(opacity=80);
  opacity: 0.8;
}

.opc100 {
  -moz-opacity: 1;
  -webkit-opacity: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}

.csp {
  cursor: pointer;
}

.bared {
  border: solid 1px red;
}

.bgred {
  background: red;
}

.bgwhite {
  background: white;
}

.cred {
  color: red;
}

.cRed {
  color: red;
}

.c333 {
  color: #333;
}

.cff6600 {
  color: #ff6600;
}

.w940 {
  width: 940px;
}

.w960 {
  width: 960px;
}

.w980 {
  width: 980px;
}

.w1000 {
  width: 1000px;
}

.w1200 {
  width: 1200px;
}

.w1366 {
  width: 1366px;
}

.w1600 {
  width: 1600px;
}

.lh15 {
  line-height: 15px;
}

.lh16 {
  line-height: 16px;
}

.lh17 {
  line-height: 17px;
}

.lh18 {
  line-height: 18px;
}

.lh19 {
  line-height: 19px;
}

.lh20 {
  line-height: 20px;
}

.lh21 {
  line-height: 21px;
}

.lh22 {
  line-height: 22px;
}

.lh26 {
  line-height: 26px;
}

.h0 {
  height: 0px;
}

.h1 {
  height: 1px;
}

.h2 {
  height: 2px;
}

.h3 {
  height: 3px;
}

.h4 {
  height: 4px;
}

.h5 {
  height: 5px;
}

.h6 {
  height: 6px;
}

.h7 {
  height: 7px;
}

.h8 {
  height: 8px;
}

.h9 {
  height: 9px;
}

.h10 {
  height: 10px;
}

.h11 {
  height: 11px;
}

.h12 {
  height: 12px;
}

.h13 {
  height: 13px;
}

.h14 {
  height: 14px;
}

.h15 {
  height: 15px;
}

.h16 {
  height: 16px;
}

.h17 {
  height: 17px;
}

.h18 {
  height: 18px;
}

.h19 {
  height: 19px;
}

.h20 {
  height: 20px;
}

.h21 {
  height: 21px;
}

.h22 {
  height: 22px;
}

.h23 {
  height: 23px;
}

.h24 {
  height: 24px;
}

.h25 {
  height: 25px;
}

.h30 {
  height: 30px;
}

.h35 {
  height: 35px;
}

.h40 {
  height: 40px;
}

/*----------------*/
.pl1o {
  padding-left: 1%;
}

.pl1 {
  padding-left: 1px;
}

.pl2 {
  padding-left: 2px;
}

.pl3 {
  padding-left: 3px;
}

.pl4 {
  padding-left: 4px;
}

.pl5 {
  padding-left: 5px;
}

.pl6 {
  padding-left: 6px;
}

.pl7 {
  padding-left: 7px;
}

.pl8 {
  padding-left: 8px;
}

.pl9 {
  padding-left: 9px;
}

.pl10 {
  padding-left: 10px;
}

.pl11 {
  padding-left: 11px;
}

.pl12 {
  padding-left: 12px;
}

.pl13 {
  padding-left: 13px;
}

.pl14 {
  padding-left: 14px;
}

.pl15 {
  padding-left: 15px;
}

.pl16 {
  padding-left: 16px;
}

.pl17 {
  padding-left: 17px;
}

.pl18 {
  padding-left: 18px;
}

.pl19 {
  padding-left: 19px;
}

.pl20 {
  padding-left: 20px;
}

.pl25 {
  padding-left: 20px;
}

.pl30 {
  padding-left: 20px;
}

.pl35 {
  padding-left: 35px;
}

.pl40 {
  padding-left: 40px;
}

/*---------------*/
.pr1 {
  padding-right: 1px;
}

.pr2 {
  padding-right: 2px;
}

.pr3 {
  padding-right: 3px;
}

.pr4 {
  padding-right: 4px;
}

.pr5 {
  padding-right: 5px;
}

.pr6 {
  padding-right: 6px;
}

.pr7 {
  padding-right: 7px;
}

.pr8 {
  padding-right: 8px;
}

.pr9 {
  padding-right: 9px;
}

.pr10 {
  padding-right: 10px;
}

.pr11 {
  padding-right: 11px;
}

.pr12 {
  padding-right: 12px;
}

.pr13 {
  padding-right: 13px;
}

.pr14 {
  padding-right: 14px;
}

.pr15 {
  padding-right: 15px;
}

.pr16 {
  padding-right: 16px;
}

.pr17 {
  padding-right: 17px;
}

.pr18 {
  padding-right: 18px;
}

.pr19 {
  padding-right: 19px;
}

.pr20 {
  padding-right: 20px;
}

.pr25 {
  padding-right: 25px;
}

.pr30 {
  padding-right: 30px;
}

.pr35 {
  padding-right: 35px;
}

.pr40 {
  padding-right: 40px;
}

/*------*/
.pt1 {
  padding-top: 1px;
}

.pt2 {
  padding-top: 2px;
}

.pt3 {
  padding-top: 3px;
}

.pt4 {
  padding-top: 4px;
}

.pt5 {
  padding-top: 5px;
}

.pt6 {
  padding-top: 6px;
}

.pt7 {
  padding-top: 7px;
}

.pt8 {
  padding-top: 8px;
}

.pt9 {
  padding-top: 9px;
}

.pt10 {
  padding-top: 10px;
}

.pt11 {
  padding-top: 11px;
}

.pt12 {
  padding-top: 12px;
}

.pt13 {
  padding-top: 13px;
}

.pt14 {
  padding-top: 14px;
}

.pt15 {
  padding-top: 15px;
}

.pt16 {
  padding-top: 16px;
}

.pt17 {
  padding-top: 17px;
}

.pt18 {
  padding-top: 18px;
}

.pt19 {
  padding-top: 19px;
}

.pt20 {
  padding-top: 20px;
}

.pt25 {
  padding-top: 25px;
}

.pt30 {
  padding-top: 30px;
}

.pt35 {
  padding-top: 35px;
}

.pt40 {
  padding-top: 40px;
}

/*------------*/
.pb1 {
  padding-bottom: 1px;
}

.pb2 {
  padding-bottom: 2px;
}

.pb3 {
  padding-bottom: 3px;
}

.pb4 {
  padding-bottom: 4px;
}

.pb5 {
  padding-bottom: 5px;
}

.pb6 {
  padding-bottom: 6px;
}

.pb7 {
  padding-bottom: 7px;
}

.pb8 {
  padding-bottom: 8px;
}

.pb9 {
  padding-bottom: 9px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb11 {
  padding-bottom: 11px;
}

.pb12 {
  padding-bottom: 12px;
}

.pb13 {
  padding-bottom: 13px;
}

.pb14 {
  padding-bottom: 14px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb16 {
  padding-bottom: 16px;
}

.pb17 {
  padding-bottom: 17px;
}

.pb18 {
  padding-bottom: 18px;
}

.pb19 {
  padding-bottom: 19px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb25 {
  padding-bottom: 25px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb35 {
  padding-bottom: 35px;
}

.pb40 {
  padding-bottom: 40px;
}

/*-----------Common end--------*/
.tab-content .tab {
  display: none;
}
.tab-content .tab.active {
  display: block;
}

a:hover {
  color: inherit;
  text-decoration: none;
}
a span {
  transition: none;
}

* {
  box-sizing: border-box;
}

.wImage {
  overflow: hidden;
  position: relative;
}
.wImage:before {
  content: "";
  display: block;
  padding-bottom: 66.66%;
}
.wImage .image {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.wImage .image img {
  -moz-transform: translateY(-50%) translateX(-50%);
  -moz-transition: 0.5s all ease-in-out;
  display: block;
  left: 50%;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: 0.5s all ease-in-out;
  vertical-align: middle;
}
.wImage .image img.owl-lazy {
  -moz-transform: translateY(-50%) translateX(-50%);
  -moz-transition: 0.5s all ease-in-out;
  display: block;
  left: 50%;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: 0.5s all ease-in-out;
  vertical-align: middle;
}
.wImage .image.cover img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

#overlay {
  background: rgba(0, 0, 0, 0.9);
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 20;
}

span a {
  transition: none;
}

.noidung {
  width: 100%;
  min-height: 100px;
  text-align: justify;
  line-height: 1.5rem;
}
.noidung * {
  max-width: 100%;
}
.noidung img {
  max-width: 100%;
  height: auto !important;
  margin: auto;
  display: block !important;
}
.noidung input[type=image] {
  max-width: 100%;
  height: auto !important;
  margin: auto;
  display: block !important;
}
.noidung iframe {
  max-width: 100%;
  margin: auto;
  display: block !important;
}
.noidung video {
  max-width: 100%;
  margin: auto;
  display: block !important;
}
.noidung table {
  margin: auto;
}
.noidung figcaption {
  text-align: center;
}
.noidung .wImage iframe {
  width: 100%;
  height: 100%;
}
.noidung h1 {
  display: block;
  margin: 0.67em 0;
  font-size: 2em;
}
.noidung h2 {
  display: block;
  margin: 0.83em 0;
  font-size: 1.5em;
}
.noidung h3 {
  display: block;
  margin: 1em 0;
  font-size: 1.17em;
}
.noidung h4 {
  display: block;
  margin: 1.33em 0;
}
.noidung h5 {
  display: block;
  margin: 1.67em 0;
  font-size: 0.83em;
}
.noidung h6 {
  display: block;
  margin: 2.33em 0;
  font-size: 0.67em;
}

.noidung1 img {
  max-width: 100%;
  height: auto !important;
  margin: auto;
  display: block !important;
}
.noidung1 input[type=image] {
  max-width: 100%;
  height: auto !important;
  margin: auto;
  display: block !important;
}
.noidung1 iframe {
  max-width: 100%;
  margin: auto;
  display: block !important;
}
.noidung1 video {
  max-width: 100%;
  margin: auto;
  display: block !important;
}

.noidung.clip .wImage:before {
  padding-bottom: 56.23%;
}

:root {
  font-size: 1rem;
  --widthWrp: 84rem;
}

* {
  box-sizing: border-box;
}

body {
  color: rgb(17, 17, 17);
  font-family: "Roboto", sans-serif;
  min-width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  font-size: 0.875rem;
  line-height: 1.3125rem;
}

.wrp {
  margin: auto;
  width: var(--widthWrp);
  max-width: 100%;
}

.commonBanner {
  display: block;
  text-align: center;
}
.commonBanner img {
  width: 100%;
  height: auto;
}

img {
  transition: 0.3s all ease-in-out;
}

a:hover {
  text-decoration: underline;
}

.noidung {
  padding: 0;
}
.noidung a:hover {
  color: #7ec83b !important;
}

.openSub {
  display: none;
}

.openList {
  display: none;
}

.name:hover {
  color: #7ec83b;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 10;
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
  box-shadow: 0 0 10px rgba(204, 204, 204, 0.5);
  padding: 5px 0;
}
header .wrp {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  align-items: flex-end;
}
header .wrp .logo img {
  max-width: 8.5rem;
  height: auto;
  max-height: 61px;
}
header .wrp .right {
  width: calc(100% - 9.75rem);
}
header .wrp .right .marquee {
  overflow: hidden;
}
header .wrp .right .listTeam {
  padding: 0.4375rem 0;
  display: flex;
}
header .wrp .right .listTeam a.logoTeam {
  width: 3.125rem;
  height: 3.125rem;
  border: 0.0625rem solid #c5c5c5;
  margin-right: 0.3125rem;
  padding: 0.3125rem;
}
header .wrp .right .listTeam a.logoTeam img {
  width: 100%;
  height: auto;
}
header .wrp .right .menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
  gap: 2.5rem;
}
header .wrp .right .menu a:hover {
  text-decoration: none;
}
header .wrp .right .menu .text {
  line-height: 1.5rem;
}
header .wrp .right .menu .text p:first-child {
  text-transform: uppercase;
}
header .wrp .right .menu .text p:last-child {
  font-size: 1.0625rem;
  font-weight: 700;
}
header .wrp .right .menu #menu {
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-family: "Roboto Condensed", sans-serif;
}
header .wrp .right .menu #menu > li {
  font-size: 1rem;
  font-weight: 700;
}
header .wrp .right .menu #menu > li > a {
  width: 100%;
}
header .wrp .right .menu #menu li {
  position: relative;
  flex: auto;
  padding: 1.25rem 0;
}
header .wrp .right .menu #menu li a {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
header .wrp .right .menu #menu li:hover > a {
  color: #7ec83b;
}
header .wrp .right .menu #menu li:hover > ul {
  display: block;
}
header .wrp .right .menu #menu li:hover > .menuSub {
  display: flex;
}
header .wrp .right .menu #menu li ul {
  position: relative;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #fff;
  position: absolute;
  top: 100%;
  left: -0.625rem;
  z-index: 2;
  color: #000;
  min-width: 12.5rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
}
header .wrp .right .menu #menu li ul li {
  padding: 0;
}
header .wrp .right .menu #menu li ul li a {
  padding: 0.4375rem 0.9375rem;
  font-weight: normal;
  font-size: 0.9375rem;
  display: block;
  width: 100%;
  text-align: left;
}
header .wrp .right .menu #menu li ul li:hover > a {
  background: #7ec83b;
  color: #fff;
}
header .wrp .right .menu #menu li ul li ul {
  top: 0;
  left: 100%;
}
header .wrp .right .menu #menu .menuSub {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 7;
}
header .wrp .right .menu #menu .menuSub .menuLeft {
  width: 15.625rem;
  height: 18.75rem;
  overflow-y: auto;
  background: #fafafa;
}
header .wrp .right .menu #menu .menuSub .menuLeft .itemLink {
  color: #000;
  font-weight: 700;
  text-align: right;
  display: block;
  font-size: 0.8125rem;
  padding: 0.4375rem 0.625rem;
  line-height: 1.125rem;
}
header .wrp .right .menu #menu .menuSub .menuLeft .itemLink:hover, header .wrp .right .menu #menu .menuSub .menuLeft .itemLink.active {
  background: #7ec83b;
  color: #fff;
}
header .wrp .right .menu #menu .menuSub .menuRight {
  flex: 1;
  padding: 1.25rem;
}
header .wrp .right .menu #menu .menuSub .menuRight .group {
  display: flex;
  gap: 1.25rem;
}
header .wrp .right .menu #menu .menuSub .menuRight .group .item {
  width: calc((100% - 3.75rem) / 4);
}
header .wrp .right .menu #menu .menuSub .menuRight .group .item .wImage::before {
  padding-bottom: 68.8775510204%;
}
header .wrp .right .menu #menu .menuSub .menuRight .group .item .nameCate {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.3125rem 0.9375rem;
  background: #003059;
  color: #fff;
  font-size: 0.6875rem;
  line-height: 1rem;
  font-family: Roboto;
}
header .wrp .right .menu #menu .menuSub .menuRight .group .item .nameCate:hover, header .wrp .right .menu #menu .menuSub .menuRight .group .item .nameCate.active {
  background: #7ec83b;
  color: #fff;
}
header .wrp .right .menu #menu .menuSub .menuRight .group .item .name {
  color: #000;
  font-size: 0.875rem;
  text-align: left;
  line-height: 1.125rem;
  display: block;
  margin-top: 0.4375rem;
}
header .wrp .right .menu #menu .menuSub .menuRight .group .item .name:hover {
  color: #7ec83b;
}
header .wrp .right .menu #menu .menuSub .menuRight .btnNav {
  display: flex;
  gap: 0.625rem;
  margin-top: 0.9375rem;
}
header .wrp .right .menu #menu .menuSub .menuRight .btnNav a {
  width: 1.5625rem;
  height: 1.5625rem;
  border: 0.0625rem solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  font-size: 0.8125rem;
  border-radius: 0.125rem;
}
header .wrp .right .menu #menu .menuSub .menuRight .btnNav a:hover {
  background: #7ec83b;
  color: #fff;
  border-color: #7ec83b;
}
header .wrp .right .menu #menu .btnSearchPage {
  text-align: center;
}
header .wrp .right .menu #menu .btnSearchPage.active i::before {
  content: "\f00d";
}
header .wrp .right .menu #menu .divSearchPage {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 18.75rem;
  right: 0;
  z-index: 7;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5);
}
header .wrp .right .menu #menu .divSearchPage input {
  width: 100%;
  border: none;
  height: 2.1875rem;
  padding: 0 0.625rem;
  font-family: Roboto;
  font-size: 0.8125rem;
  outline: none;
}
header .wrp .right .menu #menu .divSearchPage .btn_divSearchPage {
  display: none;
}

#session {
  margin-top: 0.625rem;
}
#session .tabs .tab-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
#session .tabs .tab-links li {
  flex: 1;
  background: var(--bg);
  position: relative;
}
#session .tabs .tab-links li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem;
  gap: 0.625rem;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  font-size: 1.25rem;
}
#session .tabs .tab-links li > a .icon img {
  height: 1.875rem;
}
#session .tabs .tab-links li:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 0.4375rem solid #fff;
  border-top: 0.4375rem solid #fff;
  border-bottom: 0.4375rem solid transparent;
  border-right: 0.4375rem solid transparent;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.4375rem;
  pointer-events: none;
  transform: rotate(45deg);
  display: none;
}
#session .tabs .tab-links li.active::after {
  display: block;
}
#session .tabs .tab-contents {
  background: url(./icon/topbar-ltd-bg.png) repeat-x;
  background-size: auto 100%;
}
#session .tabs .tab-contents .tab {
  display: flex;
}
#session .tabs .tab-contents .tab:not(.active) {
  display: none;
}
#session .tabs .tab-contents .item {
  padding: 0.3125rem;
  border: 0.0625rem solid #fff;
  border-left: 0.0313rem solid #fff;
  border-right: 0.0313rem solid #fff;
}
#session .tabs .tab-contents .item .info {
  text-align: center;
  display: flex;
  flex-direction: column;
}
#session .tabs .tab-contents .item .info .stadium {
  font-size: 0.75rem;
}
#session .tabs .tab-contents .item .result {
  margin-top: 0.3125rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
#session .tabs .tab-contents .item .result .team_1 .logo,
#session .tabs .tab-contents .item .result .team_2 .logo {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  background: #fff;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#session .tabs .tab-contents .item .result .team_1 .logo img,
#session .tabs .tab-contents .item .result .team_2 .logo img {
  width: 100%;
  height: auto;
}
#session .tabs .tab-contents .item .result .team_1 .name,
#session .tabs .tab-contents .item .result .team_2 .name {
  margin-top: 0.1875rem;
  font-weight: bold;
  display: block;
}
#session .tabs .tab-contents .item .result .score {
  display: flex;
  flex-direction: column;
  margin: 0 1.5625rem;
  min-height: 2.5rem;
  align-items: center;
  justify-content: center;
}
#session .tabs .tab-contents .item .result .score span {
  height: 1.3125rem;
}
#session .tabs .tab-contents .item .result .score a {
  padding: 0;
  font-size: 0.8125rem;
  min-width: 2.5rem;
  line-height: unset;
  word-spacing: 0;
  background-color: #fff;
  color: #ff0000;
  display: block;
  font-weight: bold;
  text-align: center;
  border-radius: 1.25rem;
}
#slideMain {
  position: relative;
  margin-bottom: 1.5625rem;
}
#slideMain .group .owl-dots {
  position: absolute;
  bottom: 0.625rem;
  left: 50%;
  transform: translateX(-50%);
}

.titleModule {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.625rem;
}
.titleModule .name {
  font-family: "Roboto Condensed", sans-serif;
  color: #003059;
  font-size: 1.4375rem;
  font-weight: 600;
}
.titleModule .viewMore {
  font-weight: 500;
  padding: 0.4375rem 0.9375rem;
  background: #003059;
  color: #fff;
  border-radius: 0.3125rem;
}
.titleModule .viewMore:hover {
  background: #7ec83b;
}

#container .wrp {
  display: flex;
  gap: 1.875rem;
}
#container .wrp .colLeft {
  width: 75.2976190476%;
}
#container .wrp .colRight {
  width: 22.3214285714%;
}
#container.inside {
  padding: 2.5rem 0;
}

#latestNews .group {
  display: flex;
  flex-wrap: wrap;
  gap: 1.875rem;
}
#latestNews .group .item {
  background: #f8f8f9;
  width: calc((100% - 3.75rem) / 3);
}
#latestNews .group .item .wImage::before {
  padding-bottom: 47.4683544304%;
}
#latestNews .group .item .content {
  padding: 1.25rem 0.9375rem;
}
#latestNews .group .item .content .name {
  font-weight: bold;
  line-height: 1.3125rem;
  font-size: 1rem;
  display: block;
  margin-bottom: 0.4375rem;
}
#latestNews .group .item .content .nameCate {
  margin-bottom: 0.625rem;
  background: #003059;
  color: #fff;
  padding: 0.3125rem 0.9375rem;
  border-radius: 0.3125rem;
  font-size: 0.75rem;
}
#latestNews .group .item .content .nameCate:hover {
  background: #7ec83b;
}
#latestNews .group .item:nth-child(1) {
  width: 100%;
  display: flex;
}
#latestNews .group .item:nth-child(1) .wImage {
  width: 64.9425287356%;
}
#latestNews .group .item:nth-child(1) .content {
  flex: 1;
  padding: 1.25rem;
}
#latestNews .group .item:nth-child(1) .content .name {
  font-size: 1.375rem;
  line-height: 1.875rem;
}

.mediaHome {
  margin-top: 1.875rem;
}
.mediaHome .group .item {
  position: relative;
}
.mediaHome .group .item .wImage::before {
  padding-bottom: 55.8035714286%;
}
.mediaHome .group .item:hover:after {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(126, 200, 59, 0.7) 100%);
}
.mediaHome .group .item:after {
  transition: 0.3s all ease-in-out;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgb(0, 0, 0) 100%);
  pointer-events: none;
  display: block;
  z-index: 5;
  top: 0;
  left: 0;
}
.mediaHome .group .item .content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 6;
  padding: 0.625rem 1.25rem;
}
.mediaHome .group .item .content .name {
  font-size: 1.125rem;
  font-weight: 500;
  color: #fff;
  line-height: 1.5625rem;
  display: block;
  margin-bottom: 0.4375rem;
}
.mediaHome .group .item .content .nameCate {
  background: #003059;
  color: #fff;
  padding: 0.4375rem 0.9375rem;
  border-radius: 0.1875rem;
  font-size: 0.8125rem;
}
.mediaHome .group .item .content .nameCate:hover {
  background: #7ec83b;
}
#charts {
  background: #7ec83b;
}
#charts .top {
  padding: 0.625rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  line-height: 2.375rem;
  color: #fff;
}
#charts .top img {
  max-width: 7.9375rem;
  height: auto;
}
#charts .tabs .tab-links:is(ul) {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 0.625rem;
}
#charts .tabs .tab-links:is(ul) li a {
  padding: 0.9375rem 1.25rem 0.625rem 1.25rem;
  background: #fff;
  border-radius: 0.25rem 0.25rem 0 0;
  display: block;
}
#charts .tabs .tab-links:is(ul) li:not(.active) a {
  background: #003059;
  color: #fff;
}
#charts .tabs .tab-links:is(select) {
  border-top: none;
  width: 100%;
  outline: none;
  padding: 0 15px;
  border-radius: 0;
  border-color: #f0f0f0;
  background: #003059;
  color: #fff;
}
#charts .tabs .tab-contents {
  background: #fff;
  padding: 0.625rem;
  border: 0.0625rem solid #f0f0f0;
  border-top: none;
}
#charts .tabs .tab-contents .group .textGroup {
  font-weight: bold;
}
#charts .tabs .tab-contents .group .table {
  font-size: 0.8125rem;
  width: 100%;
}
#charts .tabs .tab-contents .group .table .nameTeam .icon {
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid #ddd;
  width: 1.5625rem;
}
#charts .tabs .tab-contents .group .table .nameTeam .text {
  font-size: 0.75rem;
  color: #333;
}
#charts .tabs .tab-contents .group .table td,
#charts .tabs .tab-contents .group .table th {
  vertical-align: middle;
  text-align: center;
}
#charts .tabs .tab-contents .group .table td:nth-child(1),
#charts .tabs .tab-contents .group .table th:nth-child(1) {
  width: 3.125rem;
}
#charts .tabs .tab-contents .group .table td:nth-child(2),
#charts .tabs .tab-contents .group .table th:nth-child(2) {
  text-align: left;
}
#charts .tabs .tab-contents .viewDetail {
  display: block;
  margin-top: 0.625rem;
  margin-bottom: 0.3125rem;
  padding: 0.4375rem 0.625rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.1);
  background: #f7f7f7;
  color: #333;
  text-align: center;
}
#charts .tabs .tab-contents .viewDetail:hover {
  background: #7ec83b;
  color: #fff;
}

#playerRankings {
  background: #003059;
  padding: 0.625rem;
}
#playerRankings .tabs .tab-links:is(ul) {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 0.9375rem;
}
#playerRankings .tabs .tab-links:is(ul) li a {
  display: block;
  font-size: 1.125rem;
  font-weight: 400;
  padding: 0.375rem 0.75rem;
  border-bottom: 0.1875rem solid #fff;
  padding-bottom: 0.625rem;
  color: #fff;
}
#playerRankings .tabs .tab-links:is(ul) li.active a {
  border-bottom: 0.1875rem solid #7ec83b;
  color: #7ec83b;
  font-weight: 500;
}
#playerRankings .tabs .tab-links:is(select) {
  border: none;
  width: 80%;
  outline: none;
  padding: 0 10px;
  margin-left: 10%;
  margin-bottom: 25px;
}
#playerRankings .tabs .tab-contents .group {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
#playerRankings .tabs .tab-contents .group .item .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #7ec83b;
  color: #fff;
}
#playerRankings .tabs .tab-contents .group .item .top .imagePlayer {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  border: 0.125rem solid #fff;
  overflow: hidden;
  margin: -0.3125rem 0 -0.125rem 0.9375rem;
}
#playerRankings .tabs .tab-contents .group .item .top .imagePlayer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#playerRankings .tabs .tab-contents .group .item .top .countGoal {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 0.625rem;
  font-size: 0.9375rem;
  font-weight: bold;
}
#playerRankings .tabs .tab-contents .group .item .info {
  display: flex;
  justify-content: space-between;
  background: #fff;
  align-items: center;
  padding: 0.625rem 0.3125rem;
}
#playerRankings .tabs .tab-contents .group .item .info .name {
  font-weight: bold;
}
#playerRankings .tabs .tab-contents .group .item .info .team {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}
#playerRankings .tabs .tab-contents .group .item .info .team .icon {
  width: 1.875rem;
  height: 1.875rem;
  border: 0.0625rem solid #ddd;
  border-radius: 0.25rem;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#playerRankings .tabs .tab-contents .group .item .info .team .icon img {
  width: 100%;
  height: auto;
}
#playerRankings .tabs .tab-contents .viewDetail {
  display: block;
  margin-top: 1.25rem;
  margin-bottom: 0.3125rem;
  padding: 0.4375rem 0.625rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.1);
  background: #f7f7f7;
  color: #333;
  text-align: center;
}
#playerRankings .tabs .tab-contents .viewDetail:hover {
  background: #7ec83b;
  color: #fff;
}

#linkWebsites {
  width: 100%;
  margin: 1.25rem 0;
  height: 2.1875rem;
  border-color: #999;
  border-radius: 0.1875rem;
}

#pluginShare {
  background: #f2f2f2;
  padding: 2.5rem 0;
}
#pluginShare .wrp {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2.5rem;
}
#pluginShare .wrp .facebook {
  width: 25rem;
}
#pluginShare .wrp .youtube {
  background: #fff;
  flex: 1;
  padding-bottom: 1.25rem;
}
#pluginShare .wrp .youtube .logo {
  display: flex;
  align-items: center;
  padding: 1.25rem;
  gap: 0.625rem;
}
#pluginShare .wrp .youtube .logo img {
  width: 5.5rem;
}
#pluginShare .wrp .youtube .logo .text {
  font-weight: bold;
  font-size: 1.5rem;
}
#pluginShare .wrp .youtube .iFrame {
  margin-bottom: 1.25rem;
  width: 100%;
  position: relative;
}
#pluginShare .wrp .youtube .iFrame::before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 56.25%;
}
#pluginShare .wrp .youtube .iFrame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#pluginShare .wrp .youtube .linkTag {
  padding: 0 1.25rem;
  display: inline-block;
}
#pluginShare .wrp #slideBanner {
  width: 26rem;
}

#donors .wrp .parent {
  margin-top: 2.5rem;
}
#donors .wrp .parent .title {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6875rem;
  line-height: 2.375rem;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 15px;
}
#donors .wrp .parent .group {
  overflow: hidden;
}
#donors .wrp .parent .group > * {
  max-width: 100%;
}
#donors .wrp .parent .group > * img {
  max-width: 100%;
  height: auto;
}
#donors .wrp .parent .owl-stage-outer {
  display: table;
  width: 100%;
  max-width: 100%;
}
#donors .wrp .parent .owl-stage-outer .owl-stage {
  margin: auto;
}

#menuFoot {
  background: #003059;
}
#menuFoot ul {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
#menuFoot ul li a {
  padding: 0.625rem 0.9375rem;
  display: block;
}
#menuFoot ul li:hover a {
  color: #7ec83b;
}

#infoPage {
  background: #151d2d;
  color: #fff;
  padding: 1.875rem 0;
}
#infoPage .wrp {
  display: flex;
  gap: 2.8125rem;
  flex-wrap: wrap;
}
#infoPage .wrp .item {
  width: calc((100% - 5.625rem) / 3);
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
#infoPage .wrp .item .text {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#infoPage .wrp .item .text span:first-child {
  text-transform: uppercase;
}
#infoPage .wrp .item .text.link {
  gap: 1.25rem;
  flex-direction: row;
}
#infoPage .wrp .item .text.link a {
  color: #81d4fa;
}

#copyRight .wrp {
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#copyRight .wrp img {
  height: 3.25rem;
}

#listSocial {
  background: #7ec83b;
  padding: 0.625rem 0;
  margin-top: 3.125rem;
}
#listSocial .wrp {
  display: flex;
  gap: 0.625rem;
  justify-content: center;
}
#listSocial .wrp .item {
  color: #fff;
  width: 2.25rem;
  height: 2.25rem;
  border: 0.0625rem solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#listSocial .wrp .item:hover {
  background: #fff;
  color: #003059;
}

#news .titleCate {
  text-transform: uppercase;
  font-size: 1.875rem;
  line-height: 2.375rem;
  font-weight: 700;
  margin-bottom: 0.625rem;
}
#news .catesort {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.625rem;
}
#news .catesort .listCate {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.3125rem;
}
#news .catesort .listCate .listCate_item {
  padding: 0.4375rem 0.9375rem 0.3125rem 0.9375rem;
  background: #003059;
  color: #fff;
  display: block;
  border-radius: 0.1875rem;
}
#news .catesort .listCate .listCate_item.active, #news .catesort .listCate .listCate_item:hover {
  background: #7ec83b;
}
#news .catesort .sort {
  width: 9.375rem;
}
#news.list .main {
  margin-bottom: 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0.625rem;
  grid-row-gap: 0.625rem;
}
#news.list .main .item {
  position: relative;
}
#news.list .main .item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7) 100%);
  display: block;
  top: 0;
  left: 0;
}
#news.list .main .item:nth-child(1) {
  grid-area: 1/1/3/2;
}
#news.list .main .item:nth-child(1) .wImage {
  height: 100%;
}
#news.list .main .item:nth-child(1) .wImage::before {
  padding-bottom: 66.8148148148%;
}
#news.list .main .item:nth-child(2) {
  grid-area: 1/2/2/3;
}
#news.list .main .item:nth-child(2) .wImage::before {
  padding-bottom: 33.4346504559%;
}
#news.list .main .item:nth-child(3) {
  grid-area: 2/2/3/3;
}
#news.list .main .item:nth-child(3) .wImage::before {
  padding-bottom: 33.4346504559%;
}
#news.list .main .item .info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 6;
  color: #fff;
  padding: 0.9375rem;
}
#news.list .main .item .info .nameCate {
  padding: 0.3125rem 0.625rem;
  background: #003059;
  color: #fff;
  font-size: 0.75rem;
  border-radius: 0.25rem;
}
#news.list .main .item .info .nameCate:hover {
  background: #7ec83b;
}
#news.list .main .item .info .name {
  font-size: 1.25rem;
  display: block;
  line-height: 1.6875rem;
  margin-top: 0.375rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
}
#news.list .group {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5625rem;
}
#news.list .group .item {
  width: calc((100% - 1.875rem) / 2);
  display: flex;
  gap: 0.9375rem;
  align-items: flex-start;
}
#news.list .group .item .wImage {
  width: 6.25rem;
}
#news.list .group .item .wImage:before {
  padding-bottom: 70%;
}
#news.list .group .item .info {
  flex: 1;
}
#news.list .group .item .info .name {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: block;
  margin-bottom: 0.3125rem;
}
#news.list .group .item .info .nameCate {
  padding: 0.3125rem 0.625rem;
  background: #003059;
  color: #fff;
  font-size: 0.75rem;
  border-radius: 0.25rem;
}
#news.list .group .item .info .nameCate:hover {
  background: #7ec83b;
}
#news.list.nofication .group .item {
  width: calc((100% - 3.75rem) / 3);
}
#news.list.videoList .group .item .wImage img {
  filter: brightness(80%);
}
#news.list.videoList .group .item .wImage:after {
  content: "\f144";
  font-family: "FontAwesome";
  font-weight: 400;
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 1.25rem;
  pointer-events: none;
}
#news.detail .titleCate {
  text-transform: none;
  margin-bottom: 1.25rem;
}
#news.detail .description {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.625rem;
}
#news.detail .contentDetail {
  margin-top: 1.25rem;
  font-size: 0.9375rem;
  line-height: 1.625rem;
}
#news.detail .other {
  margin-top: 2.5rem;
}
#news.detail .other .tabs .tab-links {
  margin: 0;
  padding: 0;
  margin-bottom: 1.25rem;
  list-style: none;
  display: flex;
  text-transform: uppercase;
  border-bottom: 0.125rem solid #7ec83b;
}
#news.detail .other .tabs .tab-links li a {
  font-weight: bold;
  padding: 0.3125rem 0.625rem 0.1875rem 0.625rem;
  display: block;
  font-size: 0.8125rem;
}
#news.detail .other .tabs .tab-links li.active {
  background: #7ec83b;
  color: #fff;
}
#news.detail .other .tabs .tab-contents .item .wImage {
  border-radius: 0.25rem;
}
#news.detail .other .tabs .tab-contents .item .wImage:before {
  padding-bottom: 68.8073394495%;
}
#news.detail .other .tabs .tab-contents .item .wImage .nameCate {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  padding: 0.3125rem 0.9375rem;
  font-size: 0.75rem;
  background: #003059;
  color: #fff;
  display: inline-block;
}
#news.detail .other .tabs .tab-contents .item .wImage .nameCate:hover {
  background: #7ec83b;
}
#news.detail .other .tabs .tab-contents .item .name {
  display: block;
  margin-top: 0.625rem;
  font-weight: bold;
  line-height: 1.3125rem;
}

.nextPrevNews {
  display: flex;
  justify-content: space-between;
  margin-top: 1.875rem;
  gap: 3.125rem;
}
.nextPrevNews > * {
  flex: 1;
}
.nextPrevNews > * .title {
  font-size: 0.75rem;
  color: #c1c1c1;
  margin-bottom: 0.4375rem;
}
.nextPrevNews > * .name {
  font-size: 0.9375rem;
  line-height: 1.4375rem;
}
.nextPrevNews > *:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.pagging {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.875rem;
  font-size: 0.8125rem;
}
.pagging ul {
  flex: 1;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 0.5rem;
}
.pagging ul li a {
  padding: 0 0.625rem;
  min-width: 2.0625rem;
  height: 2.0625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.0625rem solid #e3e3e3;
  color: #666;
}
.pagging ul li.active a, .pagging ul li:hover a {
  background: #003059;
  border-color: #003059;
  color: #fff;
}

.plugShare {
  padding: 1.25rem 0;
  border-top: 0.0625rem solid #ddd;
  border-bottom: 0.0625rem solid #ddd;
  display: flex;
  gap: 0.5rem;
}
.plugShare .item {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.1875rem;
  background: var(--bg);
  color: #fff;
}
.plugShare .item:hover {
  filter: brightness(120%);
}

#pathWay {
  background: var(--bg);
  background-repeat: no-repeat;
  min-height: 11.5rem;
  display: flex;
  align-items: center;
}
#pathWay .wrp {
  font-size: 2.5rem;
  font-weight: 500;
}

#ListTeam .titleModule {
  font-size: 1.6875rem;
  line-height: 2.375rem;
  font-weight: bold;
}
#ListTeam #chooseSession {
  height: 2.1875rem;
  width: 18.75rem;
  border-color: #333;
  margin-bottom: 1.25rem;
}
#ListTeam .group {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}
#ListTeam .group .item {
  width: calc((100% - 6.25rem) / 6);
  border: 0.0625rem solid #ccc;
  padding: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  transition: 0.3s all ease-in-out;
}
#ListTeam .group .item .logo {
  display: flex;
  justify-content: center;
}
#ListTeam .group .item .logo img {
  max-width: 90%;
  height: auto;
}
#ListTeam .group .item .text {
  margin-top: 0.9375rem;
  font-weight: 500;
}
#ListTeam .group .item:hover {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

#Rankings {
  width: 100%;
}
#Rankings .titleModule {
  font-weight: bold;
  font-size: 1.875rem;
  margin-bottom: 0.9375rem;
}
#Rankings .tableContent {
  margin-bottom: 2.5rem;
  margin-top: 1.25rem;
}
#Rankings .tableContent .chooseSession {
  width: 15.625rem;
  height: 1.875rem;
  float: right;
}
#Rankings .tableContent .group {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Rankings .tableContent .group .titleGroup {
  text-align: center;
  display: block;
  font-weight: bold;
  margin-bottom: 0.9375rem;
  font-size: 1.0625rem;
}
#Rankings .tableContent .group .table {
  width: 62.5rem;
  max-width: 100%;
}
#Rankings .tableContent .group .table thead {
  background: #7ec83b;
  position: sticky;
  top: 0;
}
#Rankings .tableContent .group .table thead th {
  text-align: center;
  color: #fff;
}
#Rankings .tableContent .group .table tbody tr td {
  vertical-align: middle;
  text-align: center;
}
#Rankings .tableContent .group .table tbody tr td .nameTeam {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
#Rankings .tableContent .group .table tbody tr td .nameTeam .icon {
  width: 2.5rem;
  height: 2.5rem;
  background: #fff;
  border-radius: 0.1875rem;
  border: 0.0625rem solid #ccc;
  padding: 0.25rem;
}
#Rankings .tableContent .group .table tbody tr td .nameTeam .icon img {
  max-width: 100%;
  height: auto;
}
#Rankings .tableContent .group .table tbody tr td .nameTeam:hover {
  color: #7ec83b;
}
#Rankings .tableContent .group .table tbody tr:hover {
  background: #f2f2f2;
}
#Rankings .tableContent .note {
  margin-top: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem 0;
}
#Rankings .tableContent .note > * {
  width: 20%;
}

#tabCates {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 0.625rem;
  margin-top: -2.25rem;
}
#tabCates li a {
  display: flex;
  height: 2.25rem;
  padding: 0 1.25rem;
  border-radius: 0.3125rem 0.3125rem 0 0;
  background: #fff;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
#tabCates li.active a, #tabCates li:hover a {
  background: #7ec83b;
  color: #fff;
}

#hightLight .parent {
  margin-bottom: 2.5rem;
}
#hightLight .parent .group {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5625rem;
}
#hightLight .parent .group .item {
  width: calc((100% - 3.125rem) / 3);
  position: relative;
}
#hightLight .parent .group .item .wImage::before {
  padding-bottom: 122.6708074534%;
}
#hightLight .parent .group .item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgb(0, 0, 0) 100%);
  z-index: 6;
}
#hightLight .parent .group .item::after {
  content: "\f144";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  z-index: 7;
  font-family: "FontAwesome";
  font-weight: 300;
  font-size: 3.125rem;
  color: #ccc;
}
#hightLight .parent .group .item .info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 7;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.25rem 0.625rem;
}
#hightLight .parent .group .item .info .nameCate {
  padding: 0.3125rem 0.9375rem;
  background: #7ec83b;
  color: #fff;
  font-size: 0.75rem;
  margin-bottom: 0.625rem;
  display: inline-block;
}
#hightLight .parent .group .item .info .name {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
}
#hightLight .parent .group .item.colspan2 {
  width: calc((100% - 3.125rem) / 3 * 2 + 1.5625rem);
}
#hightLight .parent .group .item.colspan2 .wImage {
  height: 100%;
  min-height: 24.6875rem;
}
#hightLight .parent .group .item.colspan2 .wImage::before {
  padding-bottom: 0;
}

#vote .titleModule {
  text-transform: uppercase;
  font-size: 1.5625rem;
  margin-bottom: 1.25rem;
  font-weight: 500;
}
#vote .listVote {
  margin: 2.5rem 0;
}
#vote .listVote .title {
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: 0.9375rem;
  line-height: 1.625rem;
}
#vote .listVote .group {
  border: 0.0625rem solid #dddddd;
}
#vote .listVote .group .item {
  padding: 1rem;
  border-bottom: 0.0625rem solid #dddddd;
}
#vote .listVote .group .item:last-child {
  border-bottom: none;
}
#vote .listVote .group .item .percent {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
#vote .listVote .group .item .percent .text {
  font-size: 0.75rem;
}
#vote .listVote .group .item .percent .bar {
  background: linear-gradient(to right, #2196f3 0%, #1976d2 100%);
  width: var(--percent);
  height: 0.8125rem;
  border-radius: 1.25rem;
}

#gallery.list .sessionName {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  margin-bottom: 1.875rem;
}
#gallery.list .sessionName .text {
  font-size: 1.5625rem;
  font-weight: bold;
}
#gallery.list .group {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}
#gallery.list .group .item {
  display: flex;
  width: 100%;
  gap: 0.9375rem;
}
#gallery.list .group .item .wImage {
  border-radius: 0.1875rem;
  width: 7.5rem;
}
#gallery.list .group .item .wImage:before {
  padding-bottom: 66.6666666667%;
}
#gallery.list .group .item .info {
  flex: 1;
}
#gallery.list .group .item .info .name {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.4375rem;
  display: block;
}
#gallery.list .group .item .info .nameCate {
  padding: 0.3125rem 0.9375rem;
  background: #7ec83b;
  color: #fff;
  display: inline-block;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  margin-top: 0.1875rem;
}
#gallery.list .group .item:nth-child(1) {
  background: #f8f8f9;
}
#gallery.list .group .item:nth-child(1) .wImage {
  width: 66.9306930693%;
}
#gallery.list .group .item:nth-child(1) .info {
  padding: 0.9375rem 0.625rem;
}
#gallery.list .group .item:nth-child(1) .info .name {
  position: relative;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 0.3125rem;
  padding-top: 0.625rem;
}
#gallery.list .group .item:nth-child(1) .info .name::before {
  content: "";
  height: 0.125rem;
  width: 3.75rem;
  background: #7ec83b;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
#gallery.list .group .item:nth-child(2), #gallery.list .group .item:nth-child(3), #gallery.list .group .item:nth-child(4) {
  gap: 0;
  background: #f8f8f9;
  width: calc((100% - 2.5rem) / 3);
  flex-direction: column;
}
#gallery.list .group .item:nth-child(2) .wImage, #gallery.list .group .item:nth-child(3) .wImage, #gallery.list .group .item:nth-child(4) .wImage {
  width: 100%;
}
#gallery.list .group .item:nth-child(2) .info, #gallery.list .group .item:nth-child(3) .info, #gallery.list .group .item:nth-child(4) .info {
  padding: 0.625rem 0.9375rem 1.875rem 0.9375rem;
}
#gallery.list .group .item:nth-child(2) .info .name, #gallery.list .group .item:nth-child(3) .info .name, #gallery.list .group .item:nth-child(4) .info .name {
  font-size: 1rem;
  line-height: 1.4375rem;
}
#gallery.list .viewMore {
  color: #a5a5a5;
  display: inline-block;
  font-size: 0.75rem;
  padding: 0.1875rem 0.9375rem;
  border: 0.0625rem solid #c9c9c9;
  text-align: center;
  vertical-align: middle;
  border-radius: 0.1875rem;
  margin-top: 1.25rem;
}
#gallery.list .viewMore:hover {
  background: #7ec83b;
  color: #fff;
  border-color: #7ec83b;
}

#match {
  width: 100%;
}
#match.detail .nameMatch {
  font-weight: bold;
  font-size: 1.875rem;
  margin-bottom: 0.9375rem;
  display: block;
}
#match.detail .infoMatch {
  background: #003059;
  color: #fff;
  width: 100%;
}
#match.detail .infoMatch .top {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.0625rem solid #fff;
  padding: 0.625rem 1.25rem;
}
#match.detail .infoMatch .top > p {
  display: flex;
  gap: 0.4375rem;
  align-items: center;
}
#match.detail .infoMatch .mid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2.5rem 0;
  border-bottom: 0.0625rem solid #fff;
}
#match.detail .infoMatch .mid .team {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
#match.detail .infoMatch .mid .team .image {
  background: #fff;
  border-radius: 0.25rem;
  width: 3.75rem;
  height: 3.75rem;
  padding: 0.3125rem;
}
#match.detail .infoMatch .mid .team .image img {
  max-width: 100%;
}
#match.detail .infoMatch .mid .team .name {
  font-weight: bold;
  font-size: 0.9375rem;
}
#match.detail .infoMatch .mid .score {
  font-size: 3.125rem;
  letter-spacing: 1.5625rem;
  font-weight: 500;
}
#match.detail .infoMatch .tab-links {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}
#match.detail .infoMatch .tab-links li {
  flex: 1;
}
#match.detail .infoMatch .tab-links li > a {
  display: block;
  text-transform: uppercase;
  padding: 0.625rem 0 0.3125rem 0;
  text-align: center;
  font-size: 0.9375rem;
  font-weight: 500;
  border-bottom: 0.1875rem solid transparent;
}
#match.detail .infoMatch .tab-links li.active a {
  border-bottom: 0.1875rem solid #7ec83b;
}
#match.detail .tab-contents {
  margin-bottom: 2.5rem;
}
#match.detail .tab-contents .tab {
  border: 0.0625rem solid #003059;
  padding: 0.625rem;
}
#match.detail .tab-contents .tab .titleDiv {
  text-transform: uppercase;
  background: #003059;
  color: #fff;
  font-weight: bold;
  padding: 0.4375rem 0.9375rem 0.3125rem 0.9375rem;
}
#match.detail .tab-contents .tab .playerStatistics {
  margin: 1.25rem 0;
  border: 0.0625rem solid #003059;
}
#match.detail .tab-contents .tab .playerStatistics .teamMath {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem 1.25rem;
}
#match.detail .tab-contents .tab .playerStatistics .teamMath .team {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
#match.detail .tab-contents .tab .playerStatistics .teamMath .team .image {
  background: #fff;
  border-radius: 0.25rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.3125rem;
  border: 0.0625rem solid #ccc;
}
#match.detail .tab-contents .tab .playerStatistics .teamMath .team .image img {
  max-width: 100%;
}
#match.detail .tab-contents .tab .playerStatistics .teamMath .team .name {
  font-size: 0.875rem;
}
#match.detail .tab-contents .tab .playerStatistics .content .tableContent {
  table-layout: fixed;
}
#match.detail .tab-contents .tab .playerStatistics .content .tableContent td:nth-child(2), #match.detail .tab-contents .tab .playerStatistics .content .tableContent td:nth-child(3), #match.detail .tab-contents .tab .playerStatistics .content .tableContent td:nth-child(4) {
  width: 6.875rem;
}
#match.detail .tab-contents .tab .playerStatistics .content .tableContent td:nth-child(1), #match.detail .tab-contents .tab .playerStatistics .content .tableContent td:nth-child(2), #match.detail .tab-contents .tab .playerStatistics .content .tableContent td:nth-child(4), #match.detail .tab-contents .tab .playerStatistics .content .tableContent td:nth-child(5) {
  border: none;
}
#match.detail .tab-contents .tab .otherInfomation .noidung {
  border: 0.0625rem solid #003059;
  padding: 0.625rem;
}
#match.detail .tab-contents .tab .squad {
  display: flex;
  gap: 2.5rem;
}
#match.detail .tab-contents .tab .squad .group {
  flex: 1;
}
#match.detail .tab-contents .tab .squad .group .table {
  margin-top: 0.625rem;
  table-layout: fixed;
}
#match.detail .tab-contents .tab .squad .group .table td {
  text-align: center;
  vertical-align: middle;
}
#match.detail .tab-contents .tab .squad .group .table td:nth-child(1), #match.detail .tab-contents .tab .squad .group .table td:nth-child(2), #match.detail .tab-contents .tab .squad .group .table td:nth-child(4) {
  width: 4.375rem;
}
#match.detail .tab-contents .tab .squad .group .table td:nth-child(3) {
  text-align: left;
}
#match.detail .tab-contents .tab .squad .group .table td .image {
  border: 0.0625rem solid #ccc;
  border-radius: 0.1875rem;
  padding: 0.25rem;
  width: 2.5rem;
  height: 2.5rem;
  display: block;
}
#match.detail .tab-contents .tab .squad .group .table td .image img {
  width: 100%;
}

#teamDetails {
  width: 100%;
}
#teamDetails .top {
  display: flex;
  align-items: center;
}
#teamDetails .top .logo {
  padding-right: 0.9375rem;
  border-right: 0.0625rem solid #ccc;
}
#teamDetails .top .logo img {
  width: 11.4375rem;
  height: auto;
}
#teamDetails .top .stadium {
  flex: 1;
  padding-left: 1.875rem;
}
#teamDetails .top .stadium .nameTeam {
  font-size: 1.875rem;
  font-weight: bold;
  display: block;
  margin-bottom: 1.25rem;
}
#teamDetails .top .stadium .afterName {
  display: flex;
}
#teamDetails .top .stadium .afterName .item {
  align-items: center;
  gap: 1.25rem;
  flex: 1;
  display: flex;
}
#teamDetails .top .stadium .afterName .item .text {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  font-size: 1.125rem;
}
#teamDetails .tabs {
  margin-top: 2.5rem;
}
#teamDetails .tabs .tab-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  background: #003059;
}
#teamDetails .tabs .tab-links li {
  flex: 1;
}
#teamDetails .tabs .tab-links li a {
  text-transform: uppercase;
  padding: 0.625rem 0;
  text-align: center;
  display: block;
  font-size: 1.0625rem;
  font-weight: 500;
  color: #fff;
  min-height: 100%;
}
#teamDetails .tabs .tab-links li.active a {
  background: #7ec83b;
}
#teamDetails .tabs .tab-contents {
  width: 100%;
  border: 0.0625rem solid #003059;
  border-top: none;
  padding: 1.25rem;
}
#teamDetails .tabs .tab-contents .table {
  margin-top: 1.25rem;
}
#teamDetails .tabs .tab-contents .table thead {
  background: #003059;
  color: #fff;
  position: sticky;
  top: 0;
}
#teamDetails .tabs .tab-contents .table thead th {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
#teamDetails .tabs .tab-contents .table tbody td {
  min-width: 6.25rem;
  vertical-align: middle;
  text-align: center;
}
#teamDetails .tabs .tab-contents .table tbody td .player {
  display: flex;
  align-items: center;
  gap: 0.4375rem;
}
#teamDetails .tabs .tab-contents .table tbody td .player .js_div_particName {
  white-space: nowrap;
}
#teamDetails .tabs .tab-contents .table tbody td .player .image {
  width: 2.5rem;
  background: #fff;
  border: 0.0625rem solid #ccc;
  padding: 0.25rem;
  border-radius: 0.1875rem;
}

#player {
  width: 100%;
}
#player .namePlayer {
  font-weight: bold;
  font-size: 1.875rem;
  display: block;
  margin-bottom: 1.25rem;
}
#player .tabs .tab-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
#player .tabs .tab-links li {
  flex: 1;
}
#player .tabs .tab-links li a {
  display: block;
  text-align: center;
  padding: 0.4375rem 0.625rem;
  background: #003059;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}
#player .tabs .tab-links li.active a {
  background-color: #7ec83b;
}
#player .tabs .tab-contents {
  margin: 1.25rem 0 2.5rem 0;
}
#player .tabs .tab-contents .tablestatistic {
  table-layout: fixed;
}
#player .tabs .tab-contents .tablestatistic td {
  vertical-align: middle;
  text-align: center;
}
#player .tabs .tab-contents .tablestatistic td:nth-child(1) {
  width: 31.25rem;
  text-align: left;
}
#player .tabs .tab-contents .tablestatistic td:nth-child(1) img {
  margin-right: 0.625rem;
}
#player .tabs .tab-contents .tableMatch td {
  text-align: center;
  vertical-align: middle;
}
#player .tabs .tab-contents .infoPlayer {
  display: flex;
  gap: 1.875rem;
  align-items: center;
}
#player .tabs .tab-contents .infoPlayer .image {
  border: 0.0625rem solid #ccc;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  overflow: hidden;
}
#player .tabs .tab-contents .infoPlayer .image img {
  width: 15.625rem;
}
#player .tabs .tab-contents .infoPlayer .right {
  flex: 1;
}
#player .tabs .tab-contents .infoPlayer .right .table {
  width: auto;
}
#player .tabs .tab-contents .infoPlayer .right .table td:nth-child(1) {
  width: 9.375rem;
}
#player .tabs .tab-contents .infoPlayer .right .table td:nth-child(2) {
  min-width: 12.5rem;
}
#player .tabs .tab-contents .infoPlayer .right .table td:nth-child(2)::before {
  content: ":";
  margin-right: 0.625rem;
}

select {
  height: 2.1875rem;
  border-color: #ccc;
  border-radius: 0.1875rem;
  padding: 0 0.625rem;
}

#schedule {
  width: 100%;
}
#schedule .nameSchedule {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 0.9375rem;
  display: block;
}
#schedule .tabMonth {
  display: flex;
  margin-bottom: 0.625rem;
}
#schedule .tabMonth .item {
  flex: 1;
  text-align: center;
  display: block;
  line-height: 2.8125rem;
  background: #e3e3e3;
  font-weight: 500;
}
#schedule .tabMonth .item:hover, #schedule .tabMonth .item.active {
  color: #fff;
  background: #7ec83b;
}
#schedule .search {
  display: flex;
  margin-bottom: 1.25rem;
  gap: 0.9375rem;
}
#schedule .search select {
  flex: 1;
}
#schedule .search .btnSearch {
  height: 2.1875rem;
  padding: 0 1.25rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #003059;
  color: #fff;
}
#schedule .search .btnSearch:hover {
  background: #7ec83b;
}
#schedule .round {
  margin-bottom: 1.25rem;
}
#schedule .round .titleRound {
  padding: 0.5rem;
  font-size: 1.0625rem;
  display: block;
  text-align: center;
  background: #7ec83b;
  color: #fff;
  margin-bottom: 0.625rem;
}
#schedule .round .group {
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
  padding-bottom: 1.25rem;
  border-bottom: 0.0625rem solid #e3e3e3;
  margin-bottom: 1.25rem;
  gap: 2.5rem;
}
#schedule .round .group:last-child {
  margin: 0;
  padding: 0 1.25rem;
  border: none;
}
#schedule .round .group .time {
  font-weight: bold;
  font-size: 0.9375rem;
}
#schedule .round .group .table-responsive {
  flex: 1;
}
#schedule .round .group .table-responsive .table {
  margin-bottom: 0;
  table-layout: fixed;
}
#schedule .round .group .table-responsive .table td {
  vertical-align: middle;
}
#schedule .round .group .table-responsive .table td:nth-child(1), #schedule .round .group .table-responsive .table td:nth-child(4), #schedule .round .group .table-responsive .table td:nth-child(6) {
  width: 7.5rem;
}
#schedule .round .group .table-responsive .table td:nth-child(5) {
  width: 5.625rem;
}

#goaltatistics {
  width: 100%;
}
#goaltatistics .nameGoalStatistics {
  font-size: 1.5625rem;
  font-weight: bold;
  margin-bottom: 0.9375rem;
  display: block;
}
#goaltatistics .table {
  table-layout: fixed;
}
#goaltatistics .table thead {
  position: sticky;
  top: 0;
}
#goaltatistics .table td {
  vertical-align: middle;
}

#bttop {
  position: fixed;
  right: 0.625rem;
  bottom: 0.625rem;
  font-size: 1.5625rem;
  width: 2.5rem;
  height: 2.5rem;
  background: #ccc;
  border-radius: 0.25rem;
  line-height: 2.5rem;
  text-align: center;
  z-index: 10;
  display: none;
  transition: none;
}
#bttop:hover {
  text-decoration: none;
  background: #7ec83b;
  color: #fff;
}

.ifYoutube {
  position: relative;
}
.ifYoutube::before {
  content: "";
  display: block;
  padding-bottom: 56.25%;
}
.ifYoutube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.openList,
.openSub,
.btn_divSearchPage {
  display: none;
}/*# sourceMappingURL=style.css.map */